src/node_red/save_sound.json
[
    {
        "id": "77828e27.a5f9",
        "type": "tab",
        "label": "Save Sound_New",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ac236f3.a88328",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue01",
        "qos": "2",
        "datatype": "auto",
        "broker": "b5f9e816.ce5158",
        "x": 70,
        "y": 60,
        "wires": [
            [
                "bf85f096.1f6d7"
            ]
        ]
    },
    {
        "id": "d9c04a49.2757e8",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "e75478f9.969cf8"
            ]
        ]
    },
    {
        "id": "886bb1b7.4b5dc",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "98c2cf93.39766",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue02",
        "qos": "2",
        "datatype": "auto",
        "broker": "b5f9e816.ce5158",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "619e6e86.04db8"
            ]
        ]
    },
    {
        "id": "3280227.ffc0dde",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue03",
        "qos": "2",
        "datatype": "auto",
        "broker": "b5f9e816.ce5158",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "45459062.a2d64"
            ]
        ]
    },
    {
        "id": "e75478f9.969cf8",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue03",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "36685c68.fc5f74"
            ],
            [
                "7a856430.fa101c"
            ],
            [
                "8fef9786.7523c8"
            ]
        ]
    },
    {
        "id": "56a67d66.5e44f4",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "54d743ca.f5662c",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "36685c68.fc5f74",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/01/OvTrapIoT01_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "886bb1b7.4b5dc"
            ]
        ]
    },
    {
        "id": "7a856430.fa101c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/02/OvTrapIoT02_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 120,
        "wires": [
            [
                "56a67d66.5e44f4"
            ]
        ]
    },
    {
        "id": "8fef9786.7523c8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/03/OvTrapIoT03_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 160,
        "wires": [
            [
                "54d743ca.f5662c"
            ]
        ]
    },
    {
        "id": "bf85f096.1f6d7",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "9ca8b359.e8eff"
            ]
        ]
    },
    {
        "id": "9ca8b359.e8eff",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "d9c04a49.2757e8"
            ]
        ]
    },
    {
        "id": "619e6e86.04db8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "142fc9d3.1ea546"
            ]
        ]
    },
    {
        "id": "142fc9d3.1ea546",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "d9c04a49.2757e8"
            ]
        ]
    },
    {
        "id": "45459062.a2d64",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "99862192.3f1ae"
            ]
        ]
    },
    {
        "id": "99862192.3f1ae",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "d9c04a49.2757e8"
            ]
        ]
    },
    {
        "id": "5f552b07.ce9434",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue04",
        "qos": "2",
        "datatype": "auto",
        "broker": "7c3bc8d3.8302a8",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "540aeaaf.157044"
            ]
        ]
    },
    {
        "id": "8b09529c.296d9",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "ba38c718.6b09e8"
            ]
        ]
    },
    {
        "id": "de57d214.392b3",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue05",
        "qos": "2",
        "datatype": "auto",
        "broker": "7c3bc8d3.8302a8",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "3ae2fad3.f183c6"
            ]
        ]
    },
    {
        "id": "e87daf7a.5d8d2",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue06",
        "qos": "2",
        "datatype": "auto",
        "broker": "7c3bc8d3.8302a8",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "baafcb2.5d1bb38"
            ]
        ]
    },
    {
        "id": "ba38c718.6b09e8",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue04",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue05",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue06",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "bf4c2926.de6968"
            ],
            [
                "1a37fd4.8647603"
            ],
            [
                "29d2979.e1a4c68"
            ]
        ]
    },
    {
        "id": "4766e62a.ffe798",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7b2e3265.d6c2fc",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "572cd79f.82d9f8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bf4c2926.de6968",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/04/OvTrapIoT04_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 280,
        "wires": [
            [
                "4766e62a.ffe798"
            ]
        ]
    },
    {
        "id": "1a37fd4.8647603",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/05/OvTrapIoT05_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "7b2e3265.d6c2fc"
            ]
        ]
    },
    {
        "id": "29d2979.e1a4c68",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/06/OvTrapIoT06_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 360,
        "wires": [
            [
                "572cd79f.82d9f8"
            ]
        ]
    },
    {
        "id": "540aeaaf.157044",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "77e0aa4.cc46454"
            ]
        ]
    },
    {
        "id": "77e0aa4.cc46454",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "8b09529c.296d9"
            ]
        ]
    },
    {
        "id": "3ae2fad3.f183c6",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "69fc4ca9.5747e4"
            ]
        ]
    },
    {
        "id": "69fc4ca9.5747e4",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "8b09529c.296d9"
            ]
        ]
    },
    {
        "id": "baafcb2.5d1bb38",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "929753e1.f10e5"
            ]
        ]
    },
    {
        "id": "929753e1.f10e5",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "8b09529c.296d9"
            ]
        ]
    },
    {
        "id": "c28882b7.a83a3",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "3f6600df.b48d6"
            ]
        ]
    },
    {
        "id": "3f6600df.b48d6",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "5e8aabce.902a14"
            ]
        ]
    },
    {
        "id": "ea09402f.e5703",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "e820587a.b6c3a8"
            ]
        ]
    },
    {
        "id": "e820587a.b6c3a8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "5e8aabce.902a14"
            ]
        ]
    },
    {
        "id": "1eeec23a.70c7be",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "9d8298d6.fb7148"
            ]
        ]
    },
    {
        "id": "9d8298d6.fb7148",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "5e8aabce.902a14"
            ]
        ]
    },
    {
        "id": "25ff354e.005d2a",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue07",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2d9e13f.ad736",
        "x": 70,
        "y": 460,
        "wires": [
            [
                "c28882b7.a83a3"
            ]
        ]
    },
    {
        "id": "5e8aabce.902a14",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 520,
        "wires": [
            [
                "666c26f3.e34168"
            ]
        ]
    },
    {
        "id": "cf498968.a90af8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue08",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2d9e13f.ad736",
        "x": 70,
        "y": 520,
        "wires": [
            [
                "ea09402f.e5703"
            ]
        ]
    },
    {
        "id": "d0817682.b3b868",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue09",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2d9e13f.ad736",
        "x": 70,
        "y": 580,
        "wires": [
            [
                "1eeec23a.70c7be"
            ]
        ]
    },
    {
        "id": "666c26f3.e34168",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue07",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue08",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue09",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "7b3be912.9550e8"
            ],
            [
                "39b2f23a.6c2b8e"
            ],
            [
                "ed22955f.6a3bd8"
            ]
        ]
    },
    {
        "id": "929e4249.53f46",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ac6830b1.87f47",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5e5be6c1.fcbae8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7b3be912.9550e8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/07/OvTrapIoT07_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 480,
        "wires": [
            [
                "929e4249.53f46"
            ]
        ]
    },
    {
        "id": "39b2f23a.6c2b8e",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/08/OvTrapIoT08_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 520,
        "wires": [
            [
                "ac6830b1.87f47"
            ]
        ]
    },
    {
        "id": "ed22955f.6a3bd8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/09/OvTrapIoT09_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "5e5be6c1.fcbae8"
            ]
        ]
    },
    {
        "id": "81301aab.beff58",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue10",
        "qos": "2",
        "datatype": "auto",
        "broker": "90f96cae.4a1be",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "e4718863.cbdca8"
            ]
        ]
    },
    {
        "id": "c8a1f549.9df728",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "1eae9f9a.dc598"
            ]
        ]
    },
    {
        "id": "195428a2.727347",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue11",
        "qos": "2",
        "datatype": "auto",
        "broker": "90f96cae.4a1be",
        "x": 70,
        "y": 720,
        "wires": [
            [
                "b16b3ecd.d6b28"
            ]
        ]
    },
    {
        "id": "cb075a36.1ad6e8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue12",
        "qos": "2",
        "datatype": "auto",
        "broker": "90f96cae.4a1be",
        "x": 70,
        "y": 780,
        "wires": [
            [
                "1e151e34.5b15b2"
            ]
        ]
    },
    {
        "id": "1eae9f9a.dc598",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 720,
        "wires": [
            [
                "a6888c3f.fa061"
            ],
            [
                "79511a3f.93aec4"
            ],
            [
                "96829e93.204c2"
            ]
        ]
    },
    {
        "id": "e4718863.cbdca8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "33ded392.cf939c"
            ]
        ]
    },
    {
        "id": "33ded392.cf939c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "c8a1f549.9df728"
            ]
        ]
    },
    {
        "id": "b16b3ecd.d6b28",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "b6c2b669.3771c8"
            ]
        ]
    },
    {
        "id": "b6c2b669.3771c8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "c8a1f549.9df728"
            ]
        ]
    },
    {
        "id": "1e151e34.5b15b2",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 780,
        "wires": [
            [
                "3adfdd24.d56242"
            ]
        ]
    },
    {
        "id": "3adfdd24.d56242",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "c8a1f549.9df728"
            ]
        ]
    },
    {
        "id": "e05fc189.49c22",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "79074d47.9571d4",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c05fdab2.4dd5b8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a6888c3f.fa061",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/10/OvTrapIoT10_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 680,
        "wires": [
            [
                "e05fc189.49c22"
            ]
        ]
    },
    {
        "id": "79511a3f.93aec4",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/11/OvTrapIoT11_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "79074d47.9571d4"
            ]
        ]
    },
    {
        "id": "96829e93.204c2",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/12/OvTrapIoT12_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 760,
        "wires": [
            [
                "c05fdab2.4dd5b8"
            ]
        ]
    },
    {
        "id": "c26da05b.ba38d",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue13",
        "qos": "2",
        "datatype": "auto",
        "broker": "731a4942.d10108",
        "x": 70,
        "y": 860,
        "wires": [
            [
                "e06b8a0f.737db8"
            ]
        ]
    },
    {
        "id": "e04b7769.687c48",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "4c2fbbf4.796414"
            ]
        ]
    },
    {
        "id": "1e209e78.ee9022",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue14",
        "qos": "2",
        "datatype": "auto",
        "broker": "731a4942.d10108",
        "x": 70,
        "y": 920,
        "wires": [
            [
                "b48501b1.3f5a4"
            ]
        ]
    },
    {
        "id": "abedb6ab.605358",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue15",
        "qos": "2",
        "datatype": "auto",
        "broker": "731a4942.d10108",
        "x": 70,
        "y": 980,
        "wires": [
            [
                "4f8a1b36.add704"
            ]
        ]
    },
    {
        "id": "4c2fbbf4.796414",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 920,
        "wires": [
            [
                "dacb5f81.1759c"
            ],
            [
                "90b8586.1cc12a8"
            ],
            [
                "e7570e69.4824"
            ]
        ]
    },
    {
        "id": "e06b8a0f.737db8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "8c975242.19d3f"
            ]
        ]
    },
    {
        "id": "8c975242.19d3f",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 860,
        "wires": [
            [
                "e04b7769.687c48"
            ]
        ]
    },
    {
        "id": "b48501b1.3f5a4",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "61f1c0b4.652d"
            ]
        ]
    },
    {
        "id": "61f1c0b4.652d",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "e04b7769.687c48"
            ]
        ]
    },
    {
        "id": "4f8a1b36.add704",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "37d4da34.265856"
            ]
        ]
    },
    {
        "id": "37d4da34.265856",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 980,
        "wires": [
            [
                "e04b7769.687c48"
            ]
        ]
    },
    {
        "id": "cba20968.2e4678",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "be019f0.218946",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "115259a3.0effb6",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dacb5f81.1759c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/13/OvTrapIoT13_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 880,
        "wires": [
            [
                "cba20968.2e4678"
            ]
        ]
    },
    {
        "id": "90b8586.1cc12a8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/14/OvTrapIoT14_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 920,
        "wires": [
            [
                "be019f0.218946"
            ]
        ]
    },
    {
        "id": "e7570e69.4824",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/15/OvTrapIoT15_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 960,
        "wires": [
            [
                "115259a3.0effb6"
            ]
        ]
    },
    {
        "id": "e8b4380d.e8d5a8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue16",
        "qos": "2",
        "datatype": "auto",
        "broker": "821136da.91b848",
        "x": 70,
        "y": 1060,
        "wires": [
            [
                "86364e67.2bba"
            ]
        ]
    },
    {
        "id": "db76405.9af3ec",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 1120,
        "wires": [
            [
                "61d9f0ec.3878c"
            ]
        ]
    },
    {
        "id": "c0a3cf85.ca908",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue17",
        "qos": "2",
        "datatype": "auto",
        "broker": "821136da.91b848",
        "x": 70,
        "y": 1120,
        "wires": [
            [
                "a45d68c0.49d2d8"
            ]
        ]
    },
    {
        "id": "d4b71c0e.e1c4b",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue18",
        "qos": "2",
        "datatype": "auto",
        "broker": "821136da.91b848",
        "x": 70,
        "y": 1180,
        "wires": [
            [
                "e2b70f8c.40fcd"
            ]
        ]
    },
    {
        "id": "61d9f0ec.3878c",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "94ccefbb.a3909"
            ],
            [
                "1e3f19e4.f033d6"
            ],
            [
                "744c4ffe.0bad6"
            ]
        ]
    },
    {
        "id": "86364e67.2bba",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "7d9c4335.69808c"
            ]
        ]
    },
    {
        "id": "7d9c4335.69808c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "db76405.9af3ec"
            ]
        ]
    },
    {
        "id": "a45d68c0.49d2d8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1120,
        "wires": [
            [
                "80fbacb2.f4dc3"
            ]
        ]
    },
    {
        "id": "80fbacb2.f4dc3",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "db76405.9af3ec"
            ]
        ]
    },
    {
        "id": "e2b70f8c.40fcd",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1180,
        "wires": [
            [
                "9d93ca00.2123e8"
            ]
        ]
    },
    {
        "id": "9d93ca00.2123e8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "db76405.9af3ec"
            ]
        ]
    },
    {
        "id": "c5cff376.10457",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "31a45cd4.bef024",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "78f4b919.c5e448",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "94ccefbb.a3909",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/16/OvTrapIoT16_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1080,
        "wires": [
            [
                "c5cff376.10457"
            ]
        ]
    },
    {
        "id": "1e3f19e4.f033d6",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/17/OvTrapIoT17_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1120,
        "wires": [
            [
                "31a45cd4.bef024"
            ]
        ]
    },
    {
        "id": "744c4ffe.0bad6",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/18/OvTrapIoT18_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1160,
        "wires": [
            [
                "78f4b919.c5e448"
            ]
        ]
    },
    {
        "id": "60b7e016.284e7",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue19",
        "qos": "2",
        "datatype": "auto",
        "broker": "e84cb0ca.6639d",
        "x": 70,
        "y": 1260,
        "wires": [
            [
                "85bd7b60.65b7b8"
            ]
        ]
    },
    {
        "id": "883d053a.050458",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "e439d725.dca468"
            ]
        ]
    },
    {
        "id": "b8a880a0.8b7b5",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue20",
        "qos": "2",
        "datatype": "auto",
        "broker": "e84cb0ca.6639d",
        "x": 70,
        "y": 1320,
        "wires": [
            [
                "d03ef466.06bd88"
            ]
        ]
    },
    {
        "id": "ce7103fd.facb",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue21",
        "qos": "2",
        "datatype": "auto",
        "broker": "e84cb0ca.6639d",
        "x": 70,
        "y": 1380,
        "wires": [
            [
                "846c45a8.a98328"
            ]
        ]
    },
    {
        "id": "e439d725.dca468",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 1320,
        "wires": [
            [
                "57411e19.1207"
            ],
            [
                "3b314b4.63860b4"
            ],
            [
                "6ac8ce7d.0b148"
            ]
        ]
    },
    {
        "id": "85bd7b60.65b7b8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1260,
        "wires": [
            [
                "6768800e.70d0a"
            ]
        ]
    },
    {
        "id": "6768800e.70d0a",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1260,
        "wires": [
            [
                "883d053a.050458"
            ]
        ]
    },
    {
        "id": "d03ef466.06bd88",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1320,
        "wires": [
            [
                "80446e6e.a43ec"
            ]
        ]
    },
    {
        "id": "80446e6e.a43ec",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "883d053a.050458"
            ]
        ]
    },
    {
        "id": "846c45a8.a98328",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1380,
        "wires": [
            [
                "d42beba0.3358b8"
            ]
        ]
    },
    {
        "id": "d42beba0.3358b8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1380,
        "wires": [
            [
                "883d053a.050458"
            ]
        ]
    },
    {
        "id": "cf8e893f.c28fb8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "56342c9b.cc5394",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "d41bb2a.e962c5",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "57411e19.1207",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/19/OvTrapIoT19_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1280,
        "wires": [
            [
                "cf8e893f.c28fb8"
            ]
        ]
    },
    {
        "id": "3b314b4.63860b4",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/20/OvTrapIoT20_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1320,
        "wires": [
            [
                "56342c9b.cc5394"
            ]
        ]
    },
    {
        "id": "6ac8ce7d.0b148",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/21/OvTrapIoT21_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1360,
        "wires": [
            [
                "d41bb2a.e962c5"
            ]
        ]
    },
    {
        "id": "ac9edf8c.1dc4e",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "17994ba4.86d954",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "471683f8.db7e1c",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "59c4c013.3c7b7",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/22/OvTrapIoT22_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1480,
        "wires": [
            [
                "ac9edf8c.1dc4e"
            ]
        ]
    },
    {
        "id": "cdca9ba6.63e3c8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/23/OvTrapIoT23_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1520,
        "wires": [
            [
                "17994ba4.86d954"
            ]
        ]
    },
    {
        "id": "63d455f0.50b47c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/24/OvTrapIoT24_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1560,
        "wires": [
            [
                "471683f8.db7e1c"
            ]
        ]
    },
    {
        "id": "36359731.1fe738",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue22",
        "qos": "2",
        "datatype": "auto",
        "broker": "dc5876e.848b988",
        "x": 70,
        "y": 1460,
        "wires": [
            [
                "df8277e.9a65488"
            ]
        ]
    },
    {
        "id": "64549864.068be8",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 1520,
        "wires": [
            [
                "46fed436.28587c"
            ]
        ]
    },
    {
        "id": "a99bd5f8.4c4b38",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue23",
        "qos": "2",
        "datatype": "auto",
        "broker": "dc5876e.848b988",
        "x": 70,
        "y": 1520,
        "wires": [
            [
                "36b121e8.15511e"
            ]
        ]
    },
    {
        "id": "f5d28470.458bc8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue24",
        "qos": "2",
        "datatype": "auto",
        "broker": "dc5876e.848b988",
        "x": 70,
        "y": 1580,
        "wires": [
            [
                "bc446d78.02e12"
            ]
        ]
    },
    {
        "id": "46fed436.28587c",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue22",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue23",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue24",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 1520,
        "wires": [
            [
                "59c4c013.3c7b7"
            ],
            [
                "cdca9ba6.63e3c8"
            ],
            [
                "63d455f0.50b47c"
            ]
        ]
    },
    {
        "id": "df8277e.9a65488",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1460,
        "wires": [
            [
                "c8ef6508.0a7828"
            ]
        ]
    },
    {
        "id": "c8ef6508.0a7828",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1460,
        "wires": [
            [
                "64549864.068be8"
            ]
        ]
    },
    {
        "id": "36b121e8.15511e",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1520,
        "wires": [
            [
                "312add9f.b8a1d2"
            ]
        ]
    },
    {
        "id": "312add9f.b8a1d2",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1520,
        "wires": [
            [
                "64549864.068be8"
            ]
        ]
    },
    {
        "id": "bc446d78.02e12",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1580,
        "wires": [
            [
                "ca65304.84a48d"
            ]
        ]
    },
    {
        "id": "ca65304.84a48d",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1580,
        "wires": [
            [
                "64549864.068be8"
            ]
        ]
    },
    {
        "id": "9bdf1a56.df1988",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue25",
        "qos": "2",
        "datatype": "auto",
        "broker": "30869cf1.c63e44",
        "x": 70,
        "y": 1660,
        "wires": [
            [
                "ebd1729a.cc32c"
            ]
        ]
    },
    {
        "id": "37038b41.be0f84",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 1720,
        "wires": [
            [
                "cdc64e9d.ce337"
            ]
        ]
    },
    {
        "id": "e8409e89.50735",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue26",
        "qos": "2",
        "datatype": "auto",
        "broker": "30869cf1.c63e44",
        "x": 70,
        "y": 1720,
        "wires": [
            [
                "a925f6c5.f38158"
            ]
        ]
    },
    {
        "id": "6b4b6d68.a4e304",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue27",
        "qos": "2",
        "datatype": "auto",
        "broker": "30869cf1.c63e44",
        "x": 70,
        "y": 1780,
        "wires": [
            [
                "d00e9cc4.0825"
            ]
        ]
    },
    {
        "id": "cdc64e9d.ce337",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue25",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue26",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue27",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 1720,
        "wires": [
            [
                "e36faaa9.0e1308"
            ],
            [
                "360065c9.c261aa"
            ],
            [
                "7e996bd.2469194"
            ]
        ]
    },
    {
        "id": "ebd1729a.cc32c",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1660,
        "wires": [
            [
                "203ab20d.3affbe"
            ]
        ]
    },
    {
        "id": "203ab20d.3affbe",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1660,
        "wires": [
            [
                "37038b41.be0f84"
            ]
        ]
    },
    {
        "id": "a925f6c5.f38158",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1720,
        "wires": [
            [
                "18c72b24.978f65"
            ]
        ]
    },
    {
        "id": "18c72b24.978f65",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1720,
        "wires": [
            [
                "37038b41.be0f84"
            ]
        ]
    },
    {
        "id": "d00e9cc4.0825",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1780,
        "wires": [
            [
                "826a9e95.c42fa"
            ]
        ]
    },
    {
        "id": "826a9e95.c42fa",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1780,
        "wires": [
            [
                "37038b41.be0f84"
            ]
        ]
    },
    {
        "id": "e0acbd65.b07f8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "1dfe74ff.52ce2b",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "aae944af.ccfde8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "e36faaa9.0e1308",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/25/OvTrapIoT25_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1680,
        "wires": [
            [
                "e0acbd65.b07f8"
            ]
        ]
    },
    {
        "id": "360065c9.c261aa",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/26/OvTrapIoT26_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1720,
        "wires": [
            [
                "1dfe74ff.52ce2b"
            ]
        ]
    },
    {
        "id": "7e996bd.2469194",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/27/OvTrapIoT27_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1760,
        "wires": [
            [
                "aae944af.ccfde8"
            ]
        ]
    },
    {
        "id": "88882173.3b0dc",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue28",
        "qos": "2",
        "datatype": "auto",
        "broker": "309fcfc1.1e0eb",
        "x": 70,
        "y": 1860,
        "wires": [
            [
                "585eb681.f098b8"
            ]
        ]
    },
    {
        "id": "e4fc80d7.55e49",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 1920,
        "wires": [
            [
                "4d26608e.b37a"
            ]
        ]
    },
    {
        "id": "5ffa9467.bc0cec",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue29",
        "qos": "2",
        "datatype": "auto",
        "broker": "309fcfc1.1e0eb",
        "x": 70,
        "y": 1920,
        "wires": [
            [
                "19e1b81f.cfb928"
            ]
        ]
    },
    {
        "id": "55dca1de.5ff55",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue30",
        "qos": "2",
        "datatype": "auto",
        "broker": "309fcfc1.1e0eb",
        "x": 70,
        "y": 1980,
        "wires": [
            [
                "9b9dea47.07ce08"
            ]
        ]
    },
    {
        "id": "4d26608e.b37a",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue28",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue29",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 1920,
        "wires": [
            [
                "dc7ace00.d9814"
            ],
            [
                "48ae16d8.1b8408"
            ],
            [
                "d5201c84.13fc3"
            ]
        ]
    },
    {
        "id": "585eb681.f098b8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1860,
        "wires": [
            [
                "4ecbc8b8.175c58"
            ]
        ]
    },
    {
        "id": "4ecbc8b8.175c58",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1860,
        "wires": [
            [
                "e4fc80d7.55e49"
            ]
        ]
    },
    {
        "id": "19e1b81f.cfb928",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "a12dbbec.6e93e8"
            ]
        ]
    },
    {
        "id": "a12dbbec.6e93e8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1920,
        "wires": [
            [
                "e4fc80d7.55e49"
            ]
        ]
    },
    {
        "id": "9b9dea47.07ce08",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 1980,
        "wires": [
            [
                "ef21d1ab.34192"
            ]
        ]
    },
    {
        "id": "ef21d1ab.34192",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1980,
        "wires": [
            [
                "e4fc80d7.55e49"
            ]
        ]
    },
    {
        "id": "e181f12a.9a5f5",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "23468e5c.aa0cd2",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "ff66d07b.4435f",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "dc7ace00.d9814",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/28/OvTrapIoT28_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1880,
        "wires": [
            [
                "e181f12a.9a5f5"
            ]
        ]
    },
    {
        "id": "48ae16d8.1b8408",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/29/OvTrapIoT29_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1920,
        "wires": [
            [
                "23468e5c.aa0cd2"
            ]
        ]
    },
    {
        "id": "d5201c84.13fc3",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/30/OvTrapIoT30_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1960,
        "wires": [
            [
                "ff66d07b.4435f"
            ]
        ]
    },
    {
        "id": "46c4b9b7.4f3568",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue31",
        "qos": "2",
        "datatype": "auto",
        "broker": "f478cdec.3b558",
        "x": 70,
        "y": 2060,
        "wires": [
            [
                "9648ebd8.a56a38"
            ]
        ]
    },
    {
        "id": "2ab07d73.7e72c2",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 2120,
        "wires": [
            [
                "8b7a18f9.653638"
            ]
        ]
    },
    {
        "id": "62d2cd5.ad8f134",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue32",
        "qos": "2",
        "datatype": "auto",
        "broker": "f478cdec.3b558",
        "x": 70,
        "y": 2120,
        "wires": [
            [
                "2ad16f15.04547"
            ]
        ]
    },
    {
        "id": "f12f17bb.737188",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue33",
        "qos": "2",
        "datatype": "auto",
        "broker": "f478cdec.3b558",
        "x": 70,
        "y": 2180,
        "wires": [
            [
                "d8ef9dfa.de448"
            ]
        ]
    },
    {
        "id": "8b7a18f9.653638",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue31",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue32",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue33",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 2120,
        "wires": [
            [
                "27c115d5.e4313a"
            ],
            [
                "d9adc95.0bfde38"
            ],
            [
                "8003a955.30e6c8"
            ]
        ]
    },
    {
        "id": "9648ebd8.a56a38",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2060,
        "wires": [
            [
                "368e4658.42e94a"
            ]
        ]
    },
    {
        "id": "368e4658.42e94a",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2060,
        "wires": [
            [
                "2ab07d73.7e72c2"
            ]
        ]
    },
    {
        "id": "2ad16f15.04547",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2120,
        "wires": [
            [
                "f657a27.655506"
            ]
        ]
    },
    {
        "id": "f657a27.655506",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2120,
        "wires": [
            [
                "2ab07d73.7e72c2"
            ]
        ]
    },
    {
        "id": "d8ef9dfa.de448",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2180,
        "wires": [
            [
                "40a8b32f.03d54c"
            ]
        ]
    },
    {
        "id": "40a8b32f.03d54c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2180,
        "wires": [
            [
                "2ab07d73.7e72c2"
            ]
        ]
    },
    {
        "id": "bc73a848.ad21a8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "ad13aca3.e47f5",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "605726e3.0dfdf8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "27c115d5.e4313a",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/31/OvTrapIoT31_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2080,
        "wires": [
            [
                "bc73a848.ad21a8"
            ]
        ]
    },
    {
        "id": "d9adc95.0bfde38",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/32/OvTrapIoT32_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2120,
        "wires": [
            [
                "ad13aca3.e47f5"
            ]
        ]
    },
    {
        "id": "8003a955.30e6c8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/33/OvTrapIoT33_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2160,
        "wires": [
            [
                "605726e3.0dfdf8"
            ]
        ]
    },
    {
        "id": "a59cf450.65f1f8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue34",
        "qos": "2",
        "datatype": "auto",
        "broker": "2fa6795c.273446",
        "x": 70,
        "y": 2260,
        "wires": [
            [
                "2885b02b.8938a"
            ]
        ]
    },
    {
        "id": "fd5fdbb1.83c8c8",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 2320,
        "wires": [
            [
                "a3a6cfc.a861d3"
            ]
        ]
    },
    {
        "id": "40040432.4e0b0c",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue35",
        "qos": "2",
        "datatype": "auto",
        "broker": "2fa6795c.273446",
        "x": 70,
        "y": 2320,
        "wires": [
            [
                "4faf5931.a56388"
            ]
        ]
    },
    {
        "id": "37e71d16.415132",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue36",
        "qos": "2",
        "datatype": "auto",
        "broker": "2fa6795c.273446",
        "x": 70,
        "y": 2380,
        "wires": [
            [
                "11a71e86.f54c51"
            ]
        ]
    },
    {
        "id": "a3a6cfc.a861d3",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue34",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue35",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue36",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 2320,
        "wires": [
            [
                "5b83a803.308d88"
            ],
            [
                "444e4a6f.5e6fb4"
            ],
            [
                "c05955bf.6916e8"
            ]
        ]
    },
    {
        "id": "2885b02b.8938a",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2260,
        "wires": [
            [
                "ff500bbb.e03c68"
            ]
        ]
    },
    {
        "id": "ff500bbb.e03c68",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2260,
        "wires": [
            [
                "fd5fdbb1.83c8c8"
            ]
        ]
    },
    {
        "id": "4faf5931.a56388",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2320,
        "wires": [
            [
                "1d0b175c.cb3059"
            ]
        ]
    },
    {
        "id": "1d0b175c.cb3059",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2320,
        "wires": [
            [
                "fd5fdbb1.83c8c8"
            ]
        ]
    },
    {
        "id": "11a71e86.f54c51",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2380,
        "wires": [
            [
                "d1766bbb.e351f8"
            ]
        ]
    },
    {
        "id": "d1766bbb.e351f8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2380,
        "wires": [
            [
                "fd5fdbb1.83c8c8"
            ]
        ]
    },
    {
        "id": "21559dc3.e7bba2",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "72590905.82b5b8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "289c84f7.f7d6cc",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "5b83a803.308d88",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/34/OvTrapIoT34_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2280,
        "wires": [
            [
                "21559dc3.e7bba2"
            ]
        ]
    },
    {
        "id": "444e4a6f.5e6fb4",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/35/OvTrapIoT35_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2320,
        "wires": [
            [
                "72590905.82b5b8"
            ]
        ]
    },
    {
        "id": "c05955bf.6916e8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/36/OvTrapIoT36_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2360,
        "wires": [
            [
                "289c84f7.f7d6cc"
            ]
        ]
    },
    {
        "id": "ffd2aaf7.8c1b88",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue40",
        "qos": "2",
        "datatype": "auto",
        "broker": "572dd294.061e7c",
        "x": 70,
        "y": 2660,
        "wires": [
            [
                "e0edb5c8.e92178"
            ]
        ]
    },
    {
        "id": "1c0d67d.94acb98",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 2720,
        "wires": [
            [
                "81f6ff1.5640a"
            ]
        ]
    },
    {
        "id": "fca7f805.6f4f08",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue41",
        "qos": "2",
        "datatype": "auto",
        "broker": "572dd294.061e7c",
        "x": 70,
        "y": 2720,
        "wires": [
            [
                "5dd86186.37fd8"
            ]
        ]
    },
    {
        "id": "c97dfe4.d4864",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue42",
        "qos": "2",
        "datatype": "auto",
        "broker": "572dd294.061e7c",
        "x": 70,
        "y": 2780,
        "wires": [
            [
                "1129d33f.4222fd"
            ]
        ]
    },
    {
        "id": "81f6ff1.5640a",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue40",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue41",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue42",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 2720,
        "wires": [
            [
                "28e5124b.cd470e"
            ],
            [
                "d83461ba.3c2fe"
            ],
            [
                "e8838830.bc83a8"
            ]
        ]
    },
    {
        "id": "e0edb5c8.e92178",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2660,
        "wires": [
            [
                "7fff712e.9bbf3"
            ]
        ]
    },
    {
        "id": "7fff712e.9bbf3",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2660,
        "wires": [
            [
                "1c0d67d.94acb98"
            ]
        ]
    },
    {
        "id": "5dd86186.37fd8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2720,
        "wires": [
            [
                "d3d853e4.2acc4"
            ]
        ]
    },
    {
        "id": "d3d853e4.2acc4",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2720,
        "wires": [
            [
                "1c0d67d.94acb98"
            ]
        ]
    },
    {
        "id": "1129d33f.4222fd",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2780,
        "wires": [
            [
                "134f87a4.697c78"
            ]
        ]
    },
    {
        "id": "134f87a4.697c78",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2780,
        "wires": [
            [
                "1c0d67d.94acb98"
            ]
        ]
    },
    {
        "id": "8686f5ca.7c33f8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue37",
        "qos": "2",
        "datatype": "auto",
        "broker": "f27fce0e.41f29",
        "x": 70,
        "y": 2460,
        "wires": [
            [
                "92a903ad.3125c"
            ]
        ]
    },
    {
        "id": "2bc1e515.09991a",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 2520,
        "wires": [
            [
                "73787023.17483"
            ]
        ]
    },
    {
        "id": "558d97f2.401568",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue38",
        "qos": "2",
        "datatype": "auto",
        "broker": "f27fce0e.41f29",
        "x": 70,
        "y": 2520,
        "wires": [
            [
                "f3759b99.d0f0f8"
            ]
        ]
    },
    {
        "id": "37b0b694.c245ca",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue39",
        "qos": "2",
        "datatype": "auto",
        "broker": "f27fce0e.41f29",
        "x": 70,
        "y": 2580,
        "wires": [
            [
                "efd18ec.90a1a7"
            ]
        ]
    },
    {
        "id": "73787023.17483",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue37",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue38",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue39",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 2520,
        "wires": [
            [
                "354e8034.650a5"
            ],
            [
                "32ba8e96.d1a342"
            ],
            [
                "603f0ad0.35d024"
            ]
        ]
    },
    {
        "id": "92a903ad.3125c",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2460,
        "wires": [
            [
                "ad3eb49a.3230f8"
            ]
        ]
    },
    {
        "id": "ad3eb49a.3230f8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2460,
        "wires": [
            [
                "2bc1e515.09991a"
            ]
        ]
    },
    {
        "id": "f3759b99.d0f0f8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2520,
        "wires": [
            [
                "884771ac.909bf"
            ]
        ]
    },
    {
        "id": "884771ac.909bf",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2520,
        "wires": [
            [
                "2bc1e515.09991a"
            ]
        ]
    },
    {
        "id": "efd18ec.90a1a7",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2580,
        "wires": [
            [
                "490071a0.2bb69"
            ]
        ]
    },
    {
        "id": "490071a0.2bb69",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2580,
        "wires": [
            [
                "2bc1e515.09991a"
            ]
        ]
    },
    {
        "id": "6272764b.bc0728",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "6075a696.aef418",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "4cf61c9e.96a494",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "354e8034.650a5",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/37/OvTrapIoT37_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2480,
        "wires": [
            [
                "6272764b.bc0728"
            ]
        ]
    },
    {
        "id": "32ba8e96.d1a342",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/38/OvTrapIoT38_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2520,
        "wires": [
            [
                "6075a696.aef418"
            ]
        ]
    },
    {
        "id": "603f0ad0.35d024",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/39/OvTrapIoT39_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2560,
        "wires": [
            [
                "4cf61c9e.96a494"
            ]
        ]
    },
    {
        "id": "ac5465fd.f73d88",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "204541d9.3c4c9e",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "2ddb4344.66677c",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "28e5124b.cd470e",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/40/OvTrapIoT40_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2680,
        "wires": [
            [
                "ac5465fd.f73d88"
            ]
        ]
    },
    {
        "id": "d83461ba.3c2fe",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/41/OvTrapIoT41_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2720,
        "wires": [
            [
                "204541d9.3c4c9e"
            ]
        ]
    },
    {
        "id": "e8838830.bc83a8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/42/OvTrapIoT42_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2760,
        "wires": [
            [
                "2ddb4344.66677c"
            ]
        ]
    },
    {
        "id": "f7730b8f.9281b8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue43",
        "qos": "2",
        "datatype": "auto",
        "broker": "82d7aca3.85354",
        "x": 70,
        "y": 2860,
        "wires": [
            [
                "ccdf7e82.bb2f7"
            ]
        ]
    },
    {
        "id": "31850a5d.b98736",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 2920,
        "wires": [
            [
                "bdedca37.b48768"
            ]
        ]
    },
    {
        "id": "962256a2.1245a8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue44",
        "qos": "2",
        "datatype": "auto",
        "broker": "82d7aca3.85354",
        "x": 70,
        "y": 2920,
        "wires": [
            [
                "e1c5a773.0112d8"
            ]
        ]
    },
    {
        "id": "3076f530.737d4a",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue45",
        "qos": "2",
        "datatype": "auto",
        "broker": "82d7aca3.85354",
        "x": 70,
        "y": 2980,
        "wires": [
            [
                "251c5f84.bd906"
            ]
        ]
    },
    {
        "id": "bdedca37.b48768",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue43",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue44",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue45",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 2920,
        "wires": [
            [
                "af9a4b78.54a778"
            ],
            [
                "19644b52.2ce945"
            ],
            [
                "b821801e.07951"
            ]
        ]
    },
    {
        "id": "ccdf7e82.bb2f7",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2860,
        "wires": [
            [
                "946b99cb.1dc008"
            ]
        ]
    },
    {
        "id": "946b99cb.1dc008",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2860,
        "wires": [
            [
                "31850a5d.b98736"
            ]
        ]
    },
    {
        "id": "e1c5a773.0112d8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2920,
        "wires": [
            [
                "528dce2.088883"
            ]
        ]
    },
    {
        "id": "528dce2.088883",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2920,
        "wires": [
            [
                "31850a5d.b98736"
            ]
        ]
    },
    {
        "id": "251c5f84.bd906",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 2980,
        "wires": [
            [
                "343a8a28.e7f826"
            ]
        ]
    },
    {
        "id": "343a8a28.e7f826",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2980,
        "wires": [
            [
                "31850a5d.b98736"
            ]
        ]
    },
    {
        "id": "5a3ce2a.048261c",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2880,
        "wires": [
            []
        ]
    },
    {
        "id": "dc51c79.aabc438",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2920,
        "wires": [
            []
        ]
    },
    {
        "id": "1e5d7e2d.58f312",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 2960,
        "wires": [
            []
        ]
    },
    {
        "id": "af9a4b78.54a778",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/43/OvTrapIoT43_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2880,
        "wires": [
            [
                "5a3ce2a.048261c"
            ]
        ]
    },
    {
        "id": "19644b52.2ce945",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/44/OvTrapIoT44_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2920,
        "wires": [
            [
                "dc51c79.aabc438"
            ]
        ]
    },
    {
        "id": "b821801e.07951",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/45/OvTrapIoT45_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2960,
        "wires": [
            [
                "1e5d7e2d.58f312"
            ]
        ]
    },
    {
        "id": "8779264c.f201e8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue46",
        "qos": "2",
        "datatype": "auto",
        "broker": "5ca93f5d.90294",
        "x": 70,
        "y": 3060,
        "wires": [
            [
                "4827d309.96ee6c"
            ]
        ]
    },
    {
        "id": "5dd64cc5.c013e4",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 3120,
        "wires": [
            [
                "5124ba8e.08ddf4"
            ]
        ]
    },
    {
        "id": "8ae534a1.098198",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue47",
        "qos": "2",
        "datatype": "auto",
        "broker": "5ca93f5d.90294",
        "x": 70,
        "y": 3120,
        "wires": [
            [
                "ee6555fd.a5d708"
            ]
        ]
    },
    {
        "id": "9d6c8495.21c208",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue48",
        "qos": "2",
        "datatype": "auto",
        "broker": "5ca93f5d.90294",
        "x": 70,
        "y": 3180,
        "wires": [
            [
                "26aa2f28.8fbd2"
            ]
        ]
    },
    {
        "id": "5124ba8e.08ddf4",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue46",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue47",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue48",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 3120,
        "wires": [
            [
                "8be86c7c.1847d"
            ],
            [
                "a44ce6c4.245188"
            ],
            [
                "84a0650.d4ec098"
            ]
        ]
    },
    {
        "id": "4827d309.96ee6c",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3060,
        "wires": [
            [
                "58889083.bf629"
            ]
        ]
    },
    {
        "id": "58889083.bf629",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3060,
        "wires": [
            [
                "5dd64cc5.c013e4"
            ]
        ]
    },
    {
        "id": "ee6555fd.a5d708",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3120,
        "wires": [
            [
                "5b1413dc.9807bc"
            ]
        ]
    },
    {
        "id": "5b1413dc.9807bc",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3120,
        "wires": [
            [
                "5dd64cc5.c013e4"
            ]
        ]
    },
    {
        "id": "26aa2f28.8fbd2",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3180,
        "wires": [
            [
                "e4b03332.37b2"
            ]
        ]
    },
    {
        "id": "e4b03332.37b2",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3180,
        "wires": [
            [
                "5dd64cc5.c013e4"
            ]
        ]
    },
    {
        "id": "d40b19f.a858be8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3080,
        "wires": [
            []
        ]
    },
    {
        "id": "f87a8823.1c8258",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3120,
        "wires": [
            []
        ]
    },
    {
        "id": "4e40a777.a78828",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3160,
        "wires": [
            []
        ]
    },
    {
        "id": "8be86c7c.1847d",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/46/OvTrapIoT46_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3080,
        "wires": [
            [
                "d40b19f.a858be8"
            ]
        ]
    },
    {
        "id": "a44ce6c4.245188",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/47/OvTrapIoT47_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3120,
        "wires": [
            [
                "f87a8823.1c8258"
            ]
        ]
    },
    {
        "id": "84a0650.d4ec098",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/48/OvTrapIoT48_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3160,
        "wires": [
            [
                "4e40a777.a78828"
            ]
        ]
    },
    {
        "id": "3fb54128.283a0e",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue49",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f889c0.e5d1968",
        "x": 70,
        "y": 3260,
        "wires": [
            [
                "bd83cb3a.212158"
            ]
        ]
    },
    {
        "id": "25a6be25.8e1eb2",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 3320,
        "wires": [
            [
                "bca25076.bfd36"
            ]
        ]
    },
    {
        "id": "1a52f001.67b11",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue50",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f889c0.e5d1968",
        "x": 70,
        "y": 3320,
        "wires": [
            [
                "fc857b3.e538288"
            ]
        ]
    },
    {
        "id": "9dced944.d74258",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue51",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f889c0.e5d1968",
        "x": 70,
        "y": 3380,
        "wires": [
            [
                "2c7649b6.c93dc6"
            ]
        ]
    },
    {
        "id": "bca25076.bfd36",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue49",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue50",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue51",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 3320,
        "wires": [
            [
                "474556f5.0d52a8"
            ],
            [
                "112474d2.be5bfb"
            ],
            [
                "a7e00fe3.5a2dd"
            ]
        ]
    },
    {
        "id": "bd83cb3a.212158",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3260,
        "wires": [
            [
                "6ffff6de.4cda58"
            ]
        ]
    },
    {
        "id": "6ffff6de.4cda58",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3260,
        "wires": [
            [
                "25a6be25.8e1eb2"
            ]
        ]
    },
    {
        "id": "fc857b3.e538288",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3320,
        "wires": [
            [
                "f944bf74.457f6"
            ]
        ]
    },
    {
        "id": "f944bf74.457f6",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3320,
        "wires": [
            [
                "25a6be25.8e1eb2"
            ]
        ]
    },
    {
        "id": "2c7649b6.c93dc6",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3380,
        "wires": [
            [
                "1895f99c.363596"
            ]
        ]
    },
    {
        "id": "1895f99c.363596",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3380,
        "wires": [
            [
                "25a6be25.8e1eb2"
            ]
        ]
    },
    {
        "id": "496f3cfb.cfbe04",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3280,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9daa5.2284756",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3320,
        "wires": [
            []
        ]
    },
    {
        "id": "3e86dee8.c1b502",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3360,
        "wires": [
            []
        ]
    },
    {
        "id": "474556f5.0d52a8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/49/OvTrapIoT49_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3280,
        "wires": [
            [
                "496f3cfb.cfbe04"
            ]
        ]
    },
    {
        "id": "112474d2.be5bfb",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/50/OvTrapIoT50_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3320,
        "wires": [
            [
                "3e9daa5.2284756"
            ]
        ]
    },
    {
        "id": "a7e00fe3.5a2dd",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/51/OvTrapIoT51_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3360,
        "wires": [
            [
                "3e86dee8.c1b502"
            ]
        ]
    },
    {
        "id": "3732f904.b67ff6",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue52",
        "qos": "2",
        "datatype": "auto",
        "broker": "99ea06df.246c18",
        "x": 70,
        "y": 3460,
        "wires": [
            [
                "59035b56.76ed04"
            ]
        ]
    },
    {
        "id": "9145f34.84af01",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 3520,
        "wires": [
            [
                "4b8ef9d0.7c8e98"
            ]
        ]
    },
    {
        "id": "14008255.38765e",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue53",
        "qos": "2",
        "datatype": "auto",
        "broker": "99ea06df.246c18",
        "x": 70,
        "y": 3520,
        "wires": [
            [
                "98771359.a7362"
            ]
        ]
    },
    {
        "id": "b86a234b.45772",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue54",
        "qos": "2",
        "datatype": "auto",
        "broker": "99ea06df.246c18",
        "x": 70,
        "y": 3580,
        "wires": [
            [
                "28bb8be2.18e804"
            ]
        ]
    },
    {
        "id": "4b8ef9d0.7c8e98",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue52",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue53",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue54",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 3520,
        "wires": [
            [
                "b1cb2e94.fcb91"
            ],
            [
                "3c8ec83c.71b348"
            ],
            [
                "c789da95.d16b48"
            ]
        ]
    },
    {
        "id": "59035b56.76ed04",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3460,
        "wires": [
            [
                "6deb84ff.5e72dc"
            ]
        ]
    },
    {
        "id": "6deb84ff.5e72dc",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3460,
        "wires": [
            [
                "9145f34.84af01"
            ]
        ]
    },
    {
        "id": "98771359.a7362",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3520,
        "wires": [
            [
                "406c256c.a1241c"
            ]
        ]
    },
    {
        "id": "406c256c.a1241c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3520,
        "wires": [
            [
                "9145f34.84af01"
            ]
        ]
    },
    {
        "id": "28bb8be2.18e804",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3580,
        "wires": [
            [
                "3e3e88ae.93e5f8"
            ]
        ]
    },
    {
        "id": "3e3e88ae.93e5f8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3580,
        "wires": [
            [
                "9145f34.84af01"
            ]
        ]
    },
    {
        "id": "6bcc9afb.275954",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3480,
        "wires": [
            []
        ]
    },
    {
        "id": "6b0ec67e.8eeec8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3520,
        "wires": [
            []
        ]
    },
    {
        "id": "9092d721.1084d8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3560,
        "wires": [
            []
        ]
    },
    {
        "id": "b1cb2e94.fcb91",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/52/OvTrapIoT52_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3480,
        "wires": [
            [
                "6bcc9afb.275954"
            ]
        ]
    },
    {
        "id": "3c8ec83c.71b348",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/53/OvTrapIoT53_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3520,
        "wires": [
            [
                "6b0ec67e.8eeec8"
            ]
        ]
    },
    {
        "id": "c789da95.d16b48",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/54/OvTrapIoT54_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3560,
        "wires": [
            [
                "9092d721.1084d8"
            ]
        ]
    },
    {
        "id": "9c2088ce.b3af18",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue55",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad866e60.07a75",
        "x": 70,
        "y": 3660,
        "wires": [
            [
                "e4ff6a44.09a458"
            ]
        ]
    },
    {
        "id": "adc7d9ed.2f84a8",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 3720,
        "wires": [
            [
                "3af6402a.3611a"
            ]
        ]
    },
    {
        "id": "d1b0cdc0.dd57a",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue56",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad866e60.07a75",
        "x": 70,
        "y": 3720,
        "wires": [
            [
                "9fe17084.fbd63"
            ]
        ]
    },
    {
        "id": "fffe1907.126828",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue57",
        "qos": "2",
        "datatype": "auto",
        "broker": "ad866e60.07a75",
        "x": 70,
        "y": 3780,
        "wires": [
            [
                "50b7e49c.63d19c"
            ]
        ]
    },
    {
        "id": "3af6402a.3611a",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue55",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue56",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue57",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 3720,
        "wires": [
            [
                "a7967f6.40fe78"
            ],
            [
                "e8348b79.b88cb8"
            ],
            [
                "30e3b3a6.2b78ac"
            ]
        ]
    },
    {
        "id": "e4ff6a44.09a458",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3660,
        "wires": [
            [
                "3953afcf.7c818"
            ]
        ]
    },
    {
        "id": "3953afcf.7c818",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3660,
        "wires": [
            [
                "adc7d9ed.2f84a8"
            ]
        ]
    },
    {
        "id": "9fe17084.fbd63",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3720,
        "wires": [
            [
                "828cde48.fa181"
            ]
        ]
    },
    {
        "id": "828cde48.fa181",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3720,
        "wires": [
            [
                "adc7d9ed.2f84a8"
            ]
        ]
    },
    {
        "id": "50b7e49c.63d19c",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3780,
        "wires": [
            [
                "61c70f68.96f26"
            ]
        ]
    },
    {
        "id": "61c70f68.96f26",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3780,
        "wires": [
            [
                "adc7d9ed.2f84a8"
            ]
        ]
    },
    {
        "id": "dfecdddd.58702",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3680,
        "wires": [
            []
        ]
    },
    {
        "id": "ae410221.26de7",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3720,
        "wires": [
            []
        ]
    },
    {
        "id": "5e9da65f.01e508",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3760,
        "wires": [
            []
        ]
    },
    {
        "id": "a7967f6.40fe78",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/55/OvTrapIoT55_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3680,
        "wires": [
            [
                "dfecdddd.58702"
            ]
        ]
    },
    {
        "id": "e8348b79.b88cb8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/56/OvTrapIoT56_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3720,
        "wires": [
            [
                "ae410221.26de7"
            ]
        ]
    },
    {
        "id": "30e3b3a6.2b78ac",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/57/OvTrapIoT57_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3760,
        "wires": [
            [
                "5e9da65f.01e508"
            ]
        ]
    },
    {
        "id": "997a4283.c0b23",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue58",
        "qos": "2",
        "datatype": "auto",
        "broker": "894b17.505034e8",
        "x": 70,
        "y": 3860,
        "wires": [
            [
                "a293f6b6.0a92f8"
            ]
        ]
    },
    {
        "id": "f009e6b3.307d08",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 3920,
        "wires": [
            [
                "6da936a.fece4c8"
            ]
        ]
    },
    {
        "id": "4d479449.1ac25c",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue59",
        "qos": "2",
        "datatype": "auto",
        "broker": "894b17.505034e8",
        "x": 70,
        "y": 3920,
        "wires": [
            [
                "fe1acd1c.03d82"
            ]
        ]
    },
    {
        "id": "fe9f8a87.a4ae08",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue60",
        "qos": "2",
        "datatype": "auto",
        "broker": "894b17.505034e8",
        "x": 70,
        "y": 3980,
        "wires": [
            [
                "6d1750fd.c15be"
            ]
        ]
    },
    {
        "id": "6da936a.fece4c8",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue58",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue59",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 3920,
        "wires": [
            [
                "3be8a942.373f96"
            ],
            [
                "b28442ec.515cd"
            ],
            [
                "9bb38e26.228e9"
            ]
        ]
    },
    {
        "id": "a293f6b6.0a92f8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3860,
        "wires": [
            [
                "d289faed.af1078"
            ]
        ]
    },
    {
        "id": "d289faed.af1078",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3860,
        "wires": [
            [
                "f009e6b3.307d08"
            ]
        ]
    },
    {
        "id": "fe1acd1c.03d82",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3920,
        "wires": [
            [
                "ed9aad82.257d5"
            ]
        ]
    },
    {
        "id": "ed9aad82.257d5",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3920,
        "wires": [
            [
                "f009e6b3.307d08"
            ]
        ]
    },
    {
        "id": "6d1750fd.c15be",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 3980,
        "wires": [
            [
                "843c6a09.df71e8"
            ]
        ]
    },
    {
        "id": "843c6a09.df71e8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 3980,
        "wires": [
            [
                "f009e6b3.307d08"
            ]
        ]
    },
    {
        "id": "2ca6fd8b.eec092",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3880,
        "wires": [
            []
        ]
    },
    {
        "id": "643c0999.e958a8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3920,
        "wires": [
            []
        ]
    },
    {
        "id": "ff6d796f.efe4d8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 3960,
        "wires": [
            []
        ]
    },
    {
        "id": "3be8a942.373f96",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/58/OvTrapIoT58_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3880,
        "wires": [
            [
                "2ca6fd8b.eec092"
            ]
        ]
    },
    {
        "id": "b28442ec.515cd",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/59/OvTrapIoT59_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3920,
        "wires": [
            [
                "643c0999.e958a8"
            ]
        ]
    },
    {
        "id": "9bb38e26.228e9",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/60/OvTrapIoT60_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3960,
        "wires": [
            [
                "ff6d796f.efe4d8"
            ]
        ]
    },
    {
        "id": "a8dfa504.281b38",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue61",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1061499.01ba98",
        "x": 70,
        "y": 4060,
        "wires": [
            [
                "db46a8cd.26d278"
            ]
        ]
    },
    {
        "id": "44da74f0.27b22c",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 4120,
        "wires": [
            [
                "78a8bf81.3252f"
            ]
        ]
    },
    {
        "id": "275ded97.8936e2",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue62",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1061499.01ba98",
        "x": 70,
        "y": 4120,
        "wires": [
            [
                "b826d44d.da3d78"
            ]
        ]
    },
    {
        "id": "c56f4527.25f158",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue63",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1061499.01ba98",
        "x": 70,
        "y": 4180,
        "wires": [
            [
                "f413f1d8.7a5a3"
            ]
        ]
    },
    {
        "id": "78a8bf81.3252f",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue61",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue62",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue63",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 4120,
        "wires": [
            [
                "c6d215be.dad2a8"
            ],
            [
                "eb11bbd3.5c2ec8"
            ],
            [
                "6b49057.e79d2fc"
            ]
        ]
    },
    {
        "id": "db46a8cd.26d278",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4060,
        "wires": [
            [
                "45a901cd.48e58"
            ]
        ]
    },
    {
        "id": "45a901cd.48e58",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4060,
        "wires": [
            [
                "44da74f0.27b22c"
            ]
        ]
    },
    {
        "id": "b826d44d.da3d78",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4120,
        "wires": [
            [
                "a0021ebb.7b698"
            ]
        ]
    },
    {
        "id": "a0021ebb.7b698",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4120,
        "wires": [
            [
                "44da74f0.27b22c"
            ]
        ]
    },
    {
        "id": "f413f1d8.7a5a3",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4180,
        "wires": [
            [
                "531b6c0e.c23744"
            ]
        ]
    },
    {
        "id": "531b6c0e.c23744",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4180,
        "wires": [
            [
                "44da74f0.27b22c"
            ]
        ]
    },
    {
        "id": "b9dd2c3d.f1e7c",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "dde2c46e.6bff58",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4120,
        "wires": [
            []
        ]
    },
    {
        "id": "c4600f40.fb4a6",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4160,
        "wires": [
            []
        ]
    },
    {
        "id": "c6d215be.dad2a8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/61/OvTrapIoT61_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4080,
        "wires": [
            [
                "b9dd2c3d.f1e7c"
            ]
        ]
    },
    {
        "id": "eb11bbd3.5c2ec8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/62/OvTrapIoT62_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4120,
        "wires": [
            [
                "dde2c46e.6bff58"
            ]
        ]
    },
    {
        "id": "6b49057.e79d2fc",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/63/OvTrapIoT63_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4160,
        "wires": [
            [
                "c4600f40.fb4a6"
            ]
        ]
    },
    {
        "id": "c4355253.5be8b",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue64",
        "qos": "2",
        "datatype": "auto",
        "broker": "de296088.77b64",
        "x": 70,
        "y": 4260,
        "wires": [
            [
                "dd68d0ca.0a"
            ]
        ]
    },
    {
        "id": "2d23f3e0.177d5c",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 4320,
        "wires": [
            [
                "1be4f76a.bccb19"
            ]
        ]
    },
    {
        "id": "d7737c9.b64e48",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue65",
        "qos": "2",
        "datatype": "auto",
        "broker": "de296088.77b64",
        "x": 70,
        "y": 4320,
        "wires": [
            [
                "8c780bd0.7867d8"
            ]
        ]
    },
    {
        "id": "a27fcf04.b3b6a",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue66",
        "qos": "2",
        "datatype": "auto",
        "broker": "de296088.77b64",
        "x": 70,
        "y": 4380,
        "wires": [
            [
                "a428a37a.47baa"
            ]
        ]
    },
    {
        "id": "1be4f76a.bccb19",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue64",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue65",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue66",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 4320,
        "wires": [
            [
                "b1967a7a.d07ff8"
            ],
            [
                "892abb14.59c418"
            ],
            [
                "80a07370.b8bc5"
            ]
        ]
    },
    {
        "id": "dd68d0ca.0a",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4260,
        "wires": [
            [
                "b91286ff.8471c8"
            ]
        ]
    },
    {
        "id": "b91286ff.8471c8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4260,
        "wires": [
            [
                "2d23f3e0.177d5c"
            ]
        ]
    },
    {
        "id": "8c780bd0.7867d8",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4320,
        "wires": [
            [
                "94a55544.0ae098"
            ]
        ]
    },
    {
        "id": "94a55544.0ae098",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4320,
        "wires": [
            [
                "2d23f3e0.177d5c"
            ]
        ]
    },
    {
        "id": "a428a37a.47baa",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4380,
        "wires": [
            [
                "317a9c04.bd6a04"
            ]
        ]
    },
    {
        "id": "317a9c04.bd6a04",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4380,
        "wires": [
            [
                "2d23f3e0.177d5c"
            ]
        ]
    },
    {
        "id": "ad3e5271.2b11",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4280,
        "wires": [
            []
        ]
    },
    {
        "id": "3d9a8144.7e67ee",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4320,
        "wires": [
            []
        ]
    },
    {
        "id": "b14db644.210c98",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4360,
        "wires": [
            []
        ]
    },
    {
        "id": "b1967a7a.d07ff8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/64/OvTrapIoT64_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4280,
        "wires": [
            [
                "ad3e5271.2b11"
            ]
        ]
    },
    {
        "id": "892abb14.59c418",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/65/OvTrapIoT65_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4320,
        "wires": [
            [
                "3d9a8144.7e67ee"
            ]
        ]
    },
    {
        "id": "80a07370.b8bc5",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/66/OvTrapIoT66_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4360,
        "wires": [
            [
                "b14db644.210c98"
            ]
        ]
    },
    {
        "id": "28587a44.7d1506",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue67",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe0195a2.8c4768",
        "x": 70,
        "y": 4460,
        "wires": [
            [
                "c0c09952.08bf88"
            ]
        ]
    },
    {
        "id": "4aa75bc5.7365a4",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 4520,
        "wires": [
            [
                "ff9bdf4d.81c59"
            ]
        ]
    },
    {
        "id": "cee4f158.68de7",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue68",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe0195a2.8c4768",
        "x": 70,
        "y": 4520,
        "wires": [
            [
                "5307932c.65df2c"
            ]
        ]
    },
    {
        "id": "97bfb228.60f5a",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue69",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe0195a2.8c4768",
        "x": 70,
        "y": 4580,
        "wires": [
            [
                "977b9c6.c2a5e6"
            ]
        ]
    },
    {
        "id": "ff9bdf4d.81c59",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue67",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue68",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue69",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 4520,
        "wires": [
            [
                "df3065a1.acf068"
            ],
            [
                "9468a5e5.59ec78"
            ],
            [
                "c04388f.adb6478"
            ]
        ]
    },
    {
        "id": "c0c09952.08bf88",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4460,
        "wires": [
            [
                "61b1a73.7a6cc58"
            ]
        ]
    },
    {
        "id": "61b1a73.7a6cc58",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4460,
        "wires": [
            [
                "4aa75bc5.7365a4"
            ]
        ]
    },
    {
        "id": "5307932c.65df2c",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4520,
        "wires": [
            [
                "b89651db.5d4de"
            ]
        ]
    },
    {
        "id": "b89651db.5d4de",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4520,
        "wires": [
            [
                "4aa75bc5.7365a4"
            ]
        ]
    },
    {
        "id": "977b9c6.c2a5e6",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4580,
        "wires": [
            [
                "b58e0009.29d3c"
            ]
        ]
    },
    {
        "id": "b58e0009.29d3c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4580,
        "wires": [
            [
                "4aa75bc5.7365a4"
            ]
        ]
    },
    {
        "id": "f9ddfe8a.4e542",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4480,
        "wires": [
            []
        ]
    },
    {
        "id": "b6d9abf5.5e0d18",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4520,
        "wires": [
            []
        ]
    },
    {
        "id": "b92fd9ec.9e2698",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4560,
        "wires": [
            []
        ]
    },
    {
        "id": "df3065a1.acf068",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/67/OvTrapIoT67_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4480,
        "wires": [
            [
                "f9ddfe8a.4e542"
            ]
        ]
    },
    {
        "id": "9468a5e5.59ec78",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/68/OvTrapIoT68_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4520,
        "wires": [
            [
                "b6d9abf5.5e0d18"
            ]
        ]
    },
    {
        "id": "c04388f.adb6478",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/69/OvTrapIoT69_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4560,
        "wires": [
            [
                "b92fd9ec.9e2698"
            ]
        ]
    },
    {
        "id": "b1177653.463698",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue70",
        "qos": "2",
        "datatype": "auto",
        "broker": "ecab9294.fb229",
        "x": 70,
        "y": 4660,
        "wires": [
            [
                "70a0cf97.2cc37"
            ]
        ]
    },
    {
        "id": "f3225a9c.6f7368",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 4720,
        "wires": [
            [
                "ca120496.5dd108"
            ]
        ]
    },
    {
        "id": "f0fd9165.a03b8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue71",
        "qos": "2",
        "datatype": "auto",
        "broker": "ecab9294.fb229",
        "x": 70,
        "y": 4720,
        "wires": [
            [
                "b8e80f8e.efdd4"
            ]
        ]
    },
    {
        "id": "71fc24e4.d5e16c",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue72",
        "qos": "2",
        "datatype": "auto",
        "broker": "ecab9294.fb229",
        "x": 70,
        "y": 4780,
        "wires": [
            [
                "cf1db2e.1d7785"
            ]
        ]
    },
    {
        "id": "ca120496.5dd108",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue70",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue71",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue72",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 4720,
        "wires": [
            [
                "9a2117c1.674fa8"
            ],
            [
                "4c93ab7c.5f4f34"
            ],
            [
                "b8cf2716.2b18b8"
            ]
        ]
    },
    {
        "id": "70a0cf97.2cc37",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4660,
        "wires": [
            [
                "f1c9d6c.4cf9b28"
            ]
        ]
    },
    {
        "id": "f1c9d6c.4cf9b28",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4660,
        "wires": [
            [
                "f3225a9c.6f7368"
            ]
        ]
    },
    {
        "id": "b8e80f8e.efdd4",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4720,
        "wires": [
            [
                "228cad2b.ce3b82"
            ]
        ]
    },
    {
        "id": "228cad2b.ce3b82",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4720,
        "wires": [
            [
                "f3225a9c.6f7368"
            ]
        ]
    },
    {
        "id": "cf1db2e.1d7785",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4780,
        "wires": [
            [
                "1f338463.7e972c"
            ]
        ]
    },
    {
        "id": "1f338463.7e972c",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4780,
        "wires": [
            [
                "f3225a9c.6f7368"
            ]
        ]
    },
    {
        "id": "def7dd9a.8c1e8",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4680,
        "wires": [
            []
        ]
    },
    {
        "id": "11c6a7a0.f37668",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4720,
        "wires": [
            []
        ]
    },
    {
        "id": "6b673549.40ea9c",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4760,
        "wires": [
            []
        ]
    },
    {
        "id": "9a2117c1.674fa8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/70/OvTrapIoT70_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4680,
        "wires": [
            [
                "def7dd9a.8c1e8"
            ]
        ]
    },
    {
        "id": "4c93ab7c.5f4f34",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/71/OvTrapIoT71_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4720,
        "wires": [
            [
                "11c6a7a0.f37668"
            ]
        ]
    },
    {
        "id": "b8cf2716.2b18b8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/72/OvTrapIoT72_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4760,
        "wires": [
            [
                "6b673549.40ea9c"
            ]
        ]
    },
    {
        "id": "27a907fa.5c05d8",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue73",
        "qos": "2",
        "datatype": "auto",
        "broker": "10db98c3.98b2b7",
        "x": 70,
        "y": 4860,
        "wires": [
            [
                "40d20862.a80158"
            ]
        ]
    },
    {
        "id": "dd627e84.2ac12",
        "type": "base64",
        "z": "77828e27.a5f9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 520,
        "y": 4920,
        "wires": [
            [
                "3bd6bf9a.8872d"
            ]
        ]
    },
    {
        "id": "bcc4068c.614138",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue74",
        "qos": "2",
        "datatype": "auto",
        "broker": "10db98c3.98b2b7",
        "x": 70,
        "y": 4920,
        "wires": [
            [
                "79998e0d.bdb14"
            ]
        ]
    },
    {
        "id": "4bf0e655.616c58",
        "type": "mqtt in",
        "z": "77828e27.a5f9",
        "name": "sound",
        "topic": "soundresdengue75",
        "qos": "2",
        "datatype": "auto",
        "broker": "10db98c3.98b2b7",
        "x": 70,
        "y": 4980,
        "wires": [
            [
                "a673cd4c.edcaa"
            ]
        ]
    },
    {
        "id": "3bd6bf9a.8872d",
        "type": "switch",
        "z": "77828e27.a5f9",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soundresdengue73",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue74",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soundresdengue75",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 4920,
        "wires": [
            [
                "8686be92.214b8"
            ],
            [
                "dfda24f5.61b358"
            ],
            [
                "313c62d1.906bee"
            ]
        ]
    },
    {
        "id": "40d20862.a80158",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4860,
        "wires": [
            [
                "3fd01c8a.695da4"
            ]
        ]
    },
    {
        "id": "3fd01c8a.695da4",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4860,
        "wires": [
            [
                "dd627e84.2ac12"
            ]
        ]
    },
    {
        "id": "79998e0d.bdb14",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4920,
        "wires": [
            [
                "79a05c80.5a3b24"
            ]
        ]
    },
    {
        "id": "79a05c80.5a3b24",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4920,
        "wires": [
            [
                "dd627e84.2ac12"
            ]
        ]
    },
    {
        "id": "a673cd4c.edcaa",
        "type": "merge",
        "z": "77828e27.a5f9",
        "name": "",
        "timeout": "5",
        "x": 210,
        "y": 4980,
        "wires": [
            [
                "6884096f.476b28"
            ]
        ]
    },
    {
        "id": "6884096f.476b28",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4980,
        "wires": [
            [
                "dd627e84.2ac12"
            ]
        ]
    },
    {
        "id": "d02b9a3d.e84758",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4880,
        "wires": [
            []
        ]
    },
    {
        "id": "eda93eaa.2039f",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4920,
        "wires": [
            []
        ]
    },
    {
        "id": "23fc0e3d.d96c92",
        "type": "file",
        "z": "77828e27.a5f9",
        "name": "file_suara",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 4960,
        "wires": [
            []
        ]
    },
    {
        "id": "8686be92.214b8",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/73/OvTrapIoT73_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4880,
        "wires": [
            [
                "d02b9a3d.e84758"
            ]
        ]
    },
    {
        "id": "dfda24f5.61b358",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/74/OvTrapIoT74_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4920,
        "wires": [
            [
                "eda93eaa.2039f"
            ]
        ]
    },
    {
        "id": "313c62d1.906bee",
        "type": "function",
        "z": "77828e27.a5f9",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_sound/\"+date+\"/75/OvTrapIoT75_\"+dateTime+\".m4a\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4960,
        "wires": [
            [
                "23fc0e3d.d96c92"
            ]
        ]
    },
    {
        "id": "b5f9e816.ce5158",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c3bc8d3.8302a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d2d9e13f.ad736",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "90f96cae.4a1be",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "731a4942.d10108",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "821136da.91b848",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e84cb0ca.6639d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc5876e.848b988",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "30869cf1.c63e44",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "309fcfc1.1e0eb",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f478cdec.3b558",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2fa6795c.273446",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "572dd294.061e7c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f27fce0e.41f29",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "82d7aca3.85354",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5ca93f5d.90294",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8f889c0.e5d1968",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "99ea06df.246c18",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ad866e60.07a75",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "894b17.505034e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a1061499.01ba98",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "de296088.77b64",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fe0195a2.8c4768",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ecab9294.fb229",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "10db98c3.98b2b7",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]