src/node_red/save_image.json
[
    {
        "id": "b1ebe578.d1e228",
        "type": "tab",
        "label": "Save Image",
        "disabled": false,
        "info": "Engine for save image automatically."
    },
    {
        "id": "b48dc792.468908",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue01",
        "qos": "2",
        "datatype": "auto",
        "broker": "7563ce3f.f20f4",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "4db3a3e7.4e5a7c"
            ]
        ]
    },
    {
        "id": "e2713e47.5c3d2",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "15d598b5.c4d347"
            ]
        ]
    },
    {
        "id": "d1f7cd0e.44476",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2eb9f43b.4f830c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue02",
        "qos": "0",
        "datatype": "auto",
        "broker": "7563ce3f.f20f4",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "dab9379a.a06b38"
            ]
        ]
    },
    {
        "id": "61011f3d.3db22",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "15d598b5.c4d347",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue03",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "ca72f891.72f4e8"
            ],
            [
                "58d3866c.5febd8"
            ],
            [
                "5efd04f1.5b678c"
            ]
        ]
    },
    {
        "id": "8ecfaf9.67a135",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue03",
        "qos": "0",
        "datatype": "auto",
        "broker": "7563ce3f.f20f4",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "446a2a23.ab5714"
            ]
        ]
    },
    {
        "id": "2bc2546e.caaf1c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4db3a3e7.4e5a7c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "dba78840.fcb7f8"
            ]
        ]
    },
    {
        "id": "dba78840.fcb7f8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "e2713e47.5c3d2"
            ]
        ]
    },
    {
        "id": "dab9379a.a06b38",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "8fa4d7b4.0f6dc8"
            ]
        ]
    },
    {
        "id": "8fa4d7b4.0f6dc8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "e2713e47.5c3d2"
            ]
        ]
    },
    {
        "id": "446a2a23.ab5714",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "463cad1c.9e2e44"
            ]
        ]
    },
    {
        "id": "463cad1c.9e2e44",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "e2713e47.5c3d2"
            ]
        ]
    },
    {
        "id": "ca72f891.72f4e8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/01/OvTrapIoT01_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 60,
        "wires": [
            [
                "d1f7cd0e.44476"
            ]
        ]
    },
    {
        "id": "58d3866c.5febd8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/02/OvTrapIoT02_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 100,
        "wires": [
            [
                "61011f3d.3db22"
            ]
        ]
    },
    {
        "id": "5efd04f1.5b678c",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/03/OvTrapIoT03_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 140,
        "wires": [
            [
                "2bc2546e.caaf1c"
            ]
        ]
    },
    {
        "id": "2fba7572.ae8e9a",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue04",
        "qos": "2",
        "datatype": "auto",
        "broker": "b272d5b4.fb3648",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "61602c54.178dc4"
            ]
        ]
    },
    {
        "id": "8c191a24.17cef8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 300,
        "wires": [
            [
                "2e825159.005c7e"
            ]
        ]
    },
    {
        "id": "e8c655b.502b8a8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue05",
        "qos": "2",
        "datatype": "auto",
        "broker": "b272d5b4.fb3648",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "c56a6981.5be8f8"
            ]
        ]
    },
    {
        "id": "2e825159.005c7e",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue04",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue05",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue06",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "3975f056.e8e0e"
            ],
            [
                "10d4f311.f1ebdd"
            ],
            [
                "20c0e613.a3221a"
            ]
        ]
    },
    {
        "id": "a3981907.88e1f8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue06",
        "qos": "2",
        "datatype": "auto",
        "broker": "b272d5b4.fb3648",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "126432f5.78de6d"
            ]
        ]
    },
    {
        "id": "61602c54.178dc4",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "649aee84.25047"
            ]
        ]
    },
    {
        "id": "649aee84.25047",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "8c191a24.17cef8"
            ]
        ]
    },
    {
        "id": "c56a6981.5be8f8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "ad4bce19.c8e7d"
            ]
        ]
    },
    {
        "id": "ad4bce19.c8e7d",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "8c191a24.17cef8"
            ]
        ]
    },
    {
        "id": "126432f5.78de6d",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "bb51c209.41712"
            ]
        ]
    },
    {
        "id": "bb51c209.41712",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "8c191a24.17cef8"
            ]
        ]
    },
    {
        "id": "95d0ab3b.e6f588",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b344fd2b.a351e",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a1202f0f.c7b4c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3975f056.e8e0e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/04/OvTrapIoT04_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 260,
        "wires": [
            [
                "95d0ab3b.e6f588"
            ]
        ]
    },
    {
        "id": "10d4f311.f1ebdd",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/05/OvTrapIoT05_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "b344fd2b.a351e"
            ]
        ]
    },
    {
        "id": "20c0e613.a3221a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/06/OvTrapIoT06_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "a1202f0f.c7b4c"
            ]
        ]
    },
    {
        "id": "5c5c9677.053488",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue07",
        "qos": "2",
        "datatype": "auto",
        "broker": "f43e195a.01c5f8",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "23ece57f.60128a"
            ]
        ]
    },
    {
        "id": "38178121.b29cce",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 500,
        "wires": [
            [
                "98b0e728.77c108"
            ]
        ]
    },
    {
        "id": "34af58a2.944c58",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue08",
        "qos": "2",
        "datatype": "auto",
        "broker": "f43e195a.01c5f8",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "d879706e.9cfc2"
            ]
        ]
    },
    {
        "id": "98b0e728.77c108",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue07",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue08",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue09",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 500,
        "wires": [
            [
                "fc510f78.e8405"
            ],
            [
                "2b16d9f0.518b06"
            ],
            [
                "2792b1e2.8286fe"
            ]
        ]
    },
    {
        "id": "9cc3d862.1b9fa8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue09",
        "qos": "2",
        "datatype": "auto",
        "broker": "f43e195a.01c5f8",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "f3358170.6f41e"
            ]
        ]
    },
    {
        "id": "23ece57f.60128a",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "ccaf584c.8add98"
            ]
        ]
    },
    {
        "id": "ccaf584c.8add98",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "38178121.b29cce"
            ]
        ]
    },
    {
        "id": "d879706e.9cfc2",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "937def0f.c41cf"
            ]
        ]
    },
    {
        "id": "937def0f.c41cf",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "38178121.b29cce"
            ]
        ]
    },
    {
        "id": "f3358170.6f41e",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "dd8e017b.af303"
            ]
        ]
    },
    {
        "id": "dd8e017b.af303",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "38178121.b29cce"
            ]
        ]
    },
    {
        "id": "462e8af8.1cda64",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "60da8fe0.50986",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "20f9e80c.fb0298",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fc510f78.e8405",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/07/OvTrapIoT07_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 460,
        "wires": [
            [
                "462e8af8.1cda64"
            ]
        ]
    },
    {
        "id": "2b16d9f0.518b06",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/08/OvTrapIoT08_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 500,
        "wires": [
            [
                "60da8fe0.50986"
            ]
        ]
    },
    {
        "id": "2792b1e2.8286fe",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/09/OvTrapIoT09_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 540,
        "wires": [
            [
                "20f9e80c.fb0298"
            ]
        ]
    },
    {
        "id": "81d9d7c0.e84648",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue10",
        "qos": "2",
        "datatype": "auto",
        "broker": "1e0f677e.768369",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "5b81abd3.c3a834"
            ]
        ]
    },
    {
        "id": "3b448149.e9b7ee",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 700,
        "wires": [
            [
                "18e804bf.6f5b5b"
            ]
        ]
    },
    {
        "id": "7ce8878d.6e2ff8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue11",
        "qos": "2",
        "datatype": "auto",
        "broker": "1e0f677e.768369",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "7efc25e.ea5dbdc"
            ]
        ]
    },
    {
        "id": "18e804bf.6f5b5b",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 700,
        "wires": [
            [
                "e9f8021c.7b44e"
            ],
            [
                "533e25c9.f45dac"
            ],
            [
                "23e34533.269bda"
            ]
        ]
    },
    {
        "id": "ce1fd154.70a0f",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue12",
        "qos": "2",
        "datatype": "auto",
        "broker": "1e0f677e.768369",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "eba2d09a.02a6e"
            ]
        ]
    },
    {
        "id": "5b81abd3.c3a834",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "72975bdd.dde6f4"
            ]
        ]
    },
    {
        "id": "72975bdd.dde6f4",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "3b448149.e9b7ee"
            ]
        ]
    },
    {
        "id": "7efc25e.ea5dbdc",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "8a1fe97c.40afd8"
            ]
        ]
    },
    {
        "id": "8a1fe97c.40afd8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "3b448149.e9b7ee"
            ]
        ]
    },
    {
        "id": "eba2d09a.02a6e",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "bfc5d1bd.31eba"
            ]
        ]
    },
    {
        "id": "bfc5d1bd.31eba",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 760,
        "wires": [
            [
                "3b448149.e9b7ee"
            ]
        ]
    },
    {
        "id": "8da966.60665698",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b9af5e52.fe24",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5e65b1cf.2fced",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e9f8021c.7b44e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/10/OvTrapIoT10_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 660,
        "wires": [
            [
                "8da966.60665698"
            ]
        ]
    },
    {
        "id": "533e25c9.f45dac",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/11/OvTrapIoT11_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 700,
        "wires": [
            [
                "b9af5e52.fe24"
            ]
        ]
    },
    {
        "id": "23e34533.269bda",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/12/OvTrapIoT12_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 740,
        "wires": [
            [
                "5e65b1cf.2fced"
            ]
        ]
    },
    {
        "id": "adacf963.6d5ba8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue13",
        "qos": "2",
        "datatype": "auto",
        "broker": "378965a9.57305a",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "51e8bd1d.a41db4"
            ]
        ]
    },
    {
        "id": "edba6aef.51bbc8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 900,
        "wires": [
            [
                "efa3722f.e9f12"
            ]
        ]
    },
    {
        "id": "15f5aeac.b04471",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue14",
        "qos": "2",
        "datatype": "auto",
        "broker": "378965a9.57305a",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "52f971d6.fedf2"
            ]
        ]
    },
    {
        "id": "efa3722f.e9f12",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 900,
        "wires": [
            [
                "4d2f7958.3a1ff8"
            ],
            [
                "7879b2d5.8a55cc"
            ],
            [
                "42c62aef.df3184"
            ]
        ]
    },
    {
        "id": "2925bda7.bd12a2",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue15",
        "qos": "2",
        "datatype": "auto",
        "broker": "378965a9.57305a",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "e98b889.eeb2178"
            ]
        ]
    },
    {
        "id": "51e8bd1d.a41db4",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "e8397c50.b1952"
            ]
        ]
    },
    {
        "id": "e8397c50.b1952",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 840,
        "wires": [
            [
                "edba6aef.51bbc8"
            ]
        ]
    },
    {
        "id": "52f971d6.fedf2",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "181f4946.a61417"
            ]
        ]
    },
    {
        "id": "181f4946.a61417",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "edba6aef.51bbc8"
            ]
        ]
    },
    {
        "id": "e98b889.eeb2178",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 960,
        "wires": [
            [
                "177bf204.e0951e"
            ]
        ]
    },
    {
        "id": "177bf204.e0951e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 960,
        "wires": [
            [
                "edba6aef.51bbc8"
            ]
        ]
    },
    {
        "id": "7089a332.29183c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "b93b08a5.5ccb78",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5fd7a52d.6afcec",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "4d2f7958.3a1ff8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/13/OvTrapIoT13_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 860,
        "wires": [
            [
                "7089a332.29183c"
            ]
        ]
    },
    {
        "id": "7879b2d5.8a55cc",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/14/OvTrapIoT14_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 900,
        "wires": [
            [
                "b93b08a5.5ccb78"
            ]
        ]
    },
    {
        "id": "42c62aef.df3184",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/15/OvTrapIoT15_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 940,
        "wires": [
            [
                "5fd7a52d.6afcec"
            ]
        ]
    },
    {
        "id": "572a3fbd.6f3bc",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue16",
        "qos": "2",
        "datatype": "auto",
        "broker": "72361a5c.803c64",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "4ae15788.714268"
            ]
        ]
    },
    {
        "id": "b3e25b87.fef2a8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 1100,
        "wires": [
            [
                "4f17e451.0e104c"
            ]
        ]
    },
    {
        "id": "d4db1860.514108",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue17",
        "qos": "2",
        "datatype": "auto",
        "broker": "72361a5c.803c64",
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "18be12d8.92547d"
            ]
        ]
    },
    {
        "id": "4f17e451.0e104c",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "7cd63fbd.da9db"
            ],
            [
                "2b42f53c.abfdfa"
            ],
            [
                "a27df7ec.2faf58"
            ]
        ]
    },
    {
        "id": "860ca63b.fa2348",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue18",
        "qos": "2",
        "datatype": "auto",
        "broker": "72361a5c.803c64",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "ff0c0c91.e839"
            ]
        ]
    },
    {
        "id": "7bd091af.efa6f",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "6802e6ff.2efe88",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ca7f31b3.901ef",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "7cd63fbd.da9db",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/16/OvTrapIoT16_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1060,
        "wires": [
            [
                "7bd091af.efa6f"
            ]
        ]
    },
    {
        "id": "2b42f53c.abfdfa",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/17/OvTrapIoT17_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1100,
        "wires": [
            [
                "6802e6ff.2efe88"
            ]
        ]
    },
    {
        "id": "a27df7ec.2faf58",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/18/OvTrapIoT18_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1140,
        "wires": [
            [
                "ca7f31b3.901ef"
            ]
        ]
    },
    {
        "id": "4ae15788.714268",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "398af5a2.f2b82a"
            ]
        ]
    },
    {
        "id": "398af5a2.f2b82a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "b3e25b87.fef2a8"
            ]
        ]
    },
    {
        "id": "18be12d8.92547d",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "af41e71d.3adff8"
            ]
        ]
    },
    {
        "id": "af41e71d.3adff8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "b3e25b87.fef2a8"
            ]
        ]
    },
    {
        "id": "ff0c0c91.e839",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "eb7dd576.74afe8"
            ]
        ]
    },
    {
        "id": "eb7dd576.74afe8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "b3e25b87.fef2a8"
            ]
        ]
    },
    {
        "id": "2dc72171.25d67e",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue19",
        "qos": "2",
        "datatype": "auto",
        "broker": "6985a5d4.a291dc",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "e80fa866.ecbe78"
            ]
        ]
    },
    {
        "id": "57d377b5.f23418",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 1300,
        "wires": [
            [
                "208a6bad.868514"
            ]
        ]
    },
    {
        "id": "a10ae09c.d6fc1",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue20",
        "qos": "2",
        "datatype": "auto",
        "broker": "6985a5d4.a291dc",
        "x": 110,
        "y": 1300,
        "wires": [
            [
                "7cfbc31.171283c"
            ]
        ]
    },
    {
        "id": "208a6bad.868514",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 1300,
        "wires": [
            [
                "22f41a75.c145f6"
            ],
            [
                "216a971c.45ffe8"
            ],
            [
                "13c75c21.9fd9b4"
            ]
        ]
    },
    {
        "id": "8a207c17.b74f5",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue21",
        "qos": "2",
        "datatype": "auto",
        "broker": "6985a5d4.a291dc",
        "x": 110,
        "y": 1360,
        "wires": [
            [
                "a323220.d8c81e"
            ]
        ]
    },
    {
        "id": "e80fa866.ecbe78",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "f7cf6aaf.8fad38"
            ]
        ]
    },
    {
        "id": "f7cf6aaf.8fad38",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "57d377b5.f23418"
            ]
        ]
    },
    {
        "id": "7cfbc31.171283c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1300,
        "wires": [
            [
                "20cf1e5.16b1fe2"
            ]
        ]
    },
    {
        "id": "20cf1e5.16b1fe2",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1300,
        "wires": [
            [
                "57d377b5.f23418"
            ]
        ]
    },
    {
        "id": "a323220.d8c81e",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "301fda71.121b46"
            ]
        ]
    },
    {
        "id": "301fda71.121b46",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1360,
        "wires": [
            [
                "57d377b5.f23418"
            ]
        ]
    },
    {
        "id": "3d8be31b.206e6c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "96ab6553.d47aa8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "8e2d6e4a.8d4df",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "22f41a75.c145f6",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/19/OvTrapIoT19_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1260,
        "wires": [
            [
                "3d8be31b.206e6c"
            ]
        ]
    },
    {
        "id": "216a971c.45ffe8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/20/OvTrapIoT20_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1300,
        "wires": [
            [
                "96ab6553.d47aa8"
            ]
        ]
    },
    {
        "id": "13c75c21.9fd9b4",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/21/OvTrapIoT21_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1340,
        "wires": [
            [
                "8e2d6e4a.8d4df"
            ]
        ]
    },
    {
        "id": "e457de78.39fa2",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue22",
        "qos": "2",
        "datatype": "auto",
        "broker": "77e4b8e3.204b28",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "b244614e.0f3d1"
            ]
        ]
    },
    {
        "id": "f38834c0.82af38",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 1500,
        "wires": [
            [
                "11e68080.b771b"
            ]
        ]
    },
    {
        "id": "dd8a0f94.ce53e",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue23",
        "qos": "2",
        "datatype": "auto",
        "broker": "77e4b8e3.204b28",
        "x": 110,
        "y": 1500,
        "wires": [
            [
                "e8c70c82.de3b5"
            ]
        ]
    },
    {
        "id": "11e68080.b771b",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue22",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue23",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue24",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 1500,
        "wires": [
            [
                "6796e21.eec811c"
            ],
            [
                "56abdd0f.b6eba4"
            ],
            [
                "cbd6df36.3cb1e"
            ]
        ]
    },
    {
        "id": "7b860d70.5a4354",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue24",
        "qos": "2",
        "datatype": "auto",
        "broker": "77e4b8e3.204b28",
        "x": 110,
        "y": 1560,
        "wires": [
            [
                "d2917a24.08efc8"
            ]
        ]
    },
    {
        "id": "b244614e.0f3d1",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1440,
        "wires": [
            [
                "1be0b82a.8294a8"
            ]
        ]
    },
    {
        "id": "1be0b82a.8294a8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1440,
        "wires": [
            [
                "f38834c0.82af38"
            ]
        ]
    },
    {
        "id": "e8c70c82.de3b5",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1500,
        "wires": [
            [
                "2bbbd7b2.0c7988"
            ]
        ]
    },
    {
        "id": "2bbbd7b2.0c7988",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1500,
        "wires": [
            [
                "f38834c0.82af38"
            ]
        ]
    },
    {
        "id": "d2917a24.08efc8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1560,
        "wires": [
            [
                "acfe28ab.fcf508"
            ]
        ]
    },
    {
        "id": "acfe28ab.fcf508",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1560,
        "wires": [
            [
                "f38834c0.82af38"
            ]
        ]
    },
    {
        "id": "290e0575.44138a",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "c157d5af.7d0688",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "d754107e.44156",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "6796e21.eec811c",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/22/OvTrapIoT22_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1460,
        "wires": [
            [
                "290e0575.44138a"
            ]
        ]
    },
    {
        "id": "56abdd0f.b6eba4",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/23/OvTrapIoT23_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1500,
        "wires": [
            [
                "c157d5af.7d0688"
            ]
        ]
    },
    {
        "id": "cbd6df36.3cb1e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/24/OvTrapIoT24_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1540,
        "wires": [
            [
                "d754107e.44156"
            ]
        ]
    },
    {
        "id": "39e84334.a71f4c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue25",
        "qos": "2",
        "datatype": "auto",
        "broker": "461a08b1.9b8248",
        "x": 110,
        "y": 1640,
        "wires": [
            [
                "72dceb8f.4876b4"
            ]
        ]
    },
    {
        "id": "c05ece8.e32b33",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 1700,
        "wires": [
            [
                "b089b284.06f11"
            ]
        ]
    },
    {
        "id": "fd579b91.7705c8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue26",
        "qos": "2",
        "datatype": "auto",
        "broker": "461a08b1.9b8248",
        "x": 110,
        "y": 1700,
        "wires": [
            [
                "3c5338b3.0283b8"
            ]
        ]
    },
    {
        "id": "b089b284.06f11",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue25",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue26",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue27",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 1700,
        "wires": [
            [
                "d45122eb.007b4"
            ],
            [
                "62697da4.1318f4"
            ],
            [
                "6ae09fba.46574"
            ]
        ]
    },
    {
        "id": "582d9e2c.8ef65",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue27",
        "qos": "2",
        "datatype": "auto",
        "broker": "461a08b1.9b8248",
        "x": 110,
        "y": 1760,
        "wires": [
            [
                "ae599b37.c3e0c8"
            ]
        ]
    },
    {
        "id": "72dceb8f.4876b4",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1640,
        "wires": [
            [
                "17908ae3.aaafa5"
            ]
        ]
    },
    {
        "id": "17908ae3.aaafa5",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1640,
        "wires": [
            [
                "c05ece8.e32b33"
            ]
        ]
    },
    {
        "id": "3c5338b3.0283b8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1700,
        "wires": [
            [
                "9b3a445.d6544b8"
            ]
        ]
    },
    {
        "id": "9b3a445.d6544b8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1700,
        "wires": [
            [
                "c05ece8.e32b33"
            ]
        ]
    },
    {
        "id": "ae599b37.c3e0c8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1760,
        "wires": [
            [
                "80e9aa4e.86a418"
            ]
        ]
    },
    {
        "id": "80e9aa4e.86a418",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1760,
        "wires": [
            [
                "c05ece8.e32b33"
            ]
        ]
    },
    {
        "id": "752c297a.8131d8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "c6b9d3f5.8f9ed",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "6782c7a8.c746e8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "d45122eb.007b4",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/25/OvTrapIoT25_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1660,
        "wires": [
            [
                "752c297a.8131d8"
            ]
        ]
    },
    {
        "id": "62697da4.1318f4",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/26/OvTrapIoT26_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1700,
        "wires": [
            [
                "c6b9d3f5.8f9ed"
            ]
        ]
    },
    {
        "id": "6ae09fba.46574",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/27/OvTrapIoT27_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1740,
        "wires": [
            [
                "6782c7a8.c746e8"
            ]
        ]
    },
    {
        "id": "669e07bf.53cc58",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue28",
        "qos": "2",
        "datatype": "auto",
        "broker": "f77127f7.ef0ce8",
        "x": 110,
        "y": 1840,
        "wires": [
            [
                "f4afba9e.b5ec08"
            ]
        ]
    },
    {
        "id": "4c14cbbc.ab3164",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 1900,
        "wires": [
            [
                "d52e0fa3.d8db5"
            ]
        ]
    },
    {
        "id": "48edc2c5.85495c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue29",
        "qos": "2",
        "datatype": "auto",
        "broker": "f77127f7.ef0ce8",
        "x": 110,
        "y": 1900,
        "wires": [
            [
                "f29a77bd.5d2c68"
            ]
        ]
    },
    {
        "id": "d52e0fa3.d8db5",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue28",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue29",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 1900,
        "wires": [
            [
                "1baa2f8.78284d1"
            ],
            [
                "dc83735e.20af9"
            ],
            [
                "4ee6a441.db3afc"
            ]
        ]
    },
    {
        "id": "51a17199.7442e",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue30",
        "qos": "2",
        "datatype": "auto",
        "broker": "f77127f7.ef0ce8",
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "e711367e.b26e88"
            ]
        ]
    },
    {
        "id": "f4afba9e.b5ec08",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1840,
        "wires": [
            [
                "d8923878.8c21e8"
            ]
        ]
    },
    {
        "id": "d8923878.8c21e8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1840,
        "wires": [
            [
                "4c14cbbc.ab3164"
            ]
        ]
    },
    {
        "id": "f29a77bd.5d2c68",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1900,
        "wires": [
            [
                "2ac79202.74ca5e"
            ]
        ]
    },
    {
        "id": "2ac79202.74ca5e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1900,
        "wires": [
            [
                "4c14cbbc.ab3164"
            ]
        ]
    },
    {
        "id": "e711367e.b26e88",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 1960,
        "wires": [
            [
                "c591b810.c963b8"
            ]
        ]
    },
    {
        "id": "c591b810.c963b8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1960,
        "wires": [
            [
                "4c14cbbc.ab3164"
            ]
        ]
    },
    {
        "id": "f0d599ae.c69998",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "9c11f83.50aca08",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "73c77116.334ff",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "1baa2f8.78284d1",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/28/OvTrapIoT28_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1860,
        "wires": [
            [
                "f0d599ae.c69998"
            ]
        ]
    },
    {
        "id": "dc83735e.20af9",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/29/OvTrapIoT29_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1900,
        "wires": [
            [
                "9c11f83.50aca08"
            ]
        ]
    },
    {
        "id": "4ee6a441.db3afc",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/30/OvTrapIoT30_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1940,
        "wires": [
            [
                "73c77116.334ff"
            ]
        ]
    },
    {
        "id": "53496f1e.07ef8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue31",
        "qos": "2",
        "datatype": "auto",
        "broker": "ead6dcfa.36de8",
        "x": 110,
        "y": 2040,
        "wires": [
            [
                "150df5e4.ac75da"
            ]
        ]
    },
    {
        "id": "3a550b08.5b7364",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 2100,
        "wires": [
            [
                "57024f29.d513a"
            ]
        ]
    },
    {
        "id": "f9c12f21.c13e4",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue32",
        "qos": "2",
        "datatype": "auto",
        "broker": "ead6dcfa.36de8",
        "x": 110,
        "y": 2100,
        "wires": [
            [
                "539ce42a.a4ca0c"
            ]
        ]
    },
    {
        "id": "57024f29.d513a",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue31",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue32",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue33",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 2100,
        "wires": [
            [
                "39558c3d.cf2874"
            ],
            [
                "d5162d4.c67aed"
            ],
            [
                "6fdfa66.eb1f158"
            ]
        ]
    },
    {
        "id": "dbc394ea.258388",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue33",
        "qos": "2",
        "datatype": "auto",
        "broker": "ead6dcfa.36de8",
        "x": 110,
        "y": 2160,
        "wires": [
            [
                "afb3bdc0.16321"
            ]
        ]
    },
    {
        "id": "150df5e4.ac75da",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2040,
        "wires": [
            [
                "201a97e5.8cf348"
            ]
        ]
    },
    {
        "id": "201a97e5.8cf348",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2040,
        "wires": [
            [
                "3a550b08.5b7364"
            ]
        ]
    },
    {
        "id": "539ce42a.a4ca0c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2100,
        "wires": [
            [
                "23cd935d.dd800c"
            ]
        ]
    },
    {
        "id": "23cd935d.dd800c",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2100,
        "wires": [
            [
                "3a550b08.5b7364"
            ]
        ]
    },
    {
        "id": "afb3bdc0.16321",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2160,
        "wires": [
            [
                "f04736f8.8274d8"
            ]
        ]
    },
    {
        "id": "f04736f8.8274d8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2160,
        "wires": [
            [
                "3a550b08.5b7364"
            ]
        ]
    },
    {
        "id": "6f12fd48.1c3334",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "7a3c9a54.024374",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "5ded3a92.28c0d4",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "39558c3d.cf2874",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/31/OvTrapIoT31_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2060,
        "wires": [
            [
                "6f12fd48.1c3334"
            ]
        ]
    },
    {
        "id": "d5162d4.c67aed",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/32/OvTrapIoT32_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2100,
        "wires": [
            [
                "7a3c9a54.024374"
            ]
        ]
    },
    {
        "id": "6fdfa66.eb1f158",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/33/OvTrapIoT33_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2140,
        "wires": [
            [
                "5ded3a92.28c0d4"
            ]
        ]
    },
    {
        "id": "ff296d83.621cf",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue34",
        "qos": "2",
        "datatype": "auto",
        "broker": "abea750a.763a98",
        "x": 110,
        "y": 2240,
        "wires": [
            [
                "b0c63faa.8737"
            ]
        ]
    },
    {
        "id": "db2a5b1f.f7a938",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 2300,
        "wires": [
            [
                "c796c30.8170b4"
            ]
        ]
    },
    {
        "id": "c095cfc9.6d40f",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue35",
        "qos": "2",
        "datatype": "auto",
        "broker": "abea750a.763a98",
        "x": 110,
        "y": 2300,
        "wires": [
            [
                "bbd164db.cae2a8"
            ]
        ]
    },
    {
        "id": "c796c30.8170b4",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue34",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue35",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue36",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 2300,
        "wires": [
            [
                "1faa5321.ff04dd"
            ],
            [
                "dba084ee.1c0eb8"
            ],
            [
                "83cd9a90.0a9148"
            ]
        ]
    },
    {
        "id": "86415295.d4ecb",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue36",
        "qos": "2",
        "datatype": "auto",
        "broker": "abea750a.763a98",
        "x": 110,
        "y": 2360,
        "wires": [
            [
                "637d48d.0bc99b8"
            ]
        ]
    },
    {
        "id": "b0c63faa.8737",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2240,
        "wires": [
            [
                "66d46a69.90e684"
            ]
        ]
    },
    {
        "id": "66d46a69.90e684",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2240,
        "wires": [
            [
                "db2a5b1f.f7a938"
            ]
        ]
    },
    {
        "id": "bbd164db.cae2a8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2300,
        "wires": [
            [
                "5228996a.cf8c58"
            ]
        ]
    },
    {
        "id": "5228996a.cf8c58",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2300,
        "wires": [
            [
                "db2a5b1f.f7a938"
            ]
        ]
    },
    {
        "id": "637d48d.0bc99b8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2360,
        "wires": [
            [
                "8b6ffdbf.55c4a"
            ]
        ]
    },
    {
        "id": "8b6ffdbf.55c4a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2360,
        "wires": [
            [
                "db2a5b1f.f7a938"
            ]
        ]
    },
    {
        "id": "efab32fc.1cfad",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "3dd415c2.d8416a",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "b2f156c1.694038",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "1faa5321.ff04dd",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/34/OvTrapIoT34_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2260,
        "wires": [
            [
                "efab32fc.1cfad"
            ]
        ]
    },
    {
        "id": "dba084ee.1c0eb8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/35/OvTrapIoT35_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2300,
        "wires": [
            [
                "3dd415c2.d8416a"
            ]
        ]
    },
    {
        "id": "83cd9a90.0a9148",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/36/OvTrapIoT36_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2340,
        "wires": [
            [
                "b2f156c1.694038"
            ]
        ]
    },
    {
        "id": "5fc1f38f.85fcfc",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue40",
        "qos": "2",
        "datatype": "auto",
        "broker": "79472a30.b62d64",
        "x": 110,
        "y": 2640,
        "wires": [
            [
                "18c25c02.b1a2a4"
            ]
        ]
    },
    {
        "id": "ba90eb38.71b2b8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 2700,
        "wires": [
            [
                "8f478070.041e3"
            ]
        ]
    },
    {
        "id": "21e85cf.9dc16a4",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue41",
        "qos": "2",
        "datatype": "auto",
        "broker": "79472a30.b62d64",
        "x": 110,
        "y": 2700,
        "wires": [
            [
                "4f3c76d6.a0b478"
            ]
        ]
    },
    {
        "id": "8f478070.041e3",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue40",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue41",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue42",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 2700,
        "wires": [
            [
                "9d56e527.c3b1c8"
            ],
            [
                "d6c90f73.bdd9a"
            ],
            [
                "3f46d0ea.72f7b"
            ]
        ]
    },
    {
        "id": "437b259d.01523c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue42",
        "qos": "2",
        "datatype": "auto",
        "broker": "79472a30.b62d64",
        "x": 110,
        "y": 2760,
        "wires": [
            [
                "dcd7647.3056098"
            ]
        ]
    },
    {
        "id": "18c25c02.b1a2a4",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2640,
        "wires": [
            [
                "3d09c044.a3a7f"
            ]
        ]
    },
    {
        "id": "3d09c044.a3a7f",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2640,
        "wires": [
            [
                "ba90eb38.71b2b8"
            ]
        ]
    },
    {
        "id": "4f3c76d6.a0b478",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2700,
        "wires": [
            [
                "61ee0628.552568"
            ]
        ]
    },
    {
        "id": "61ee0628.552568",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2700,
        "wires": [
            [
                "ba90eb38.71b2b8"
            ]
        ]
    },
    {
        "id": "dcd7647.3056098",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2760,
        "wires": [
            [
                "6409ac10.f1cb14"
            ]
        ]
    },
    {
        "id": "6409ac10.f1cb14",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2760,
        "wires": [
            [
                "ba90eb38.71b2b8"
            ]
        ]
    },
    {
        "id": "b168fbf0.b42408",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "c6d52ddd.701e2",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "9d0747d5.d84cd8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "9d56e527.c3b1c8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/40/OvTrapIoT40_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2660,
        "wires": [
            [
                "b168fbf0.b42408"
            ]
        ]
    },
    {
        "id": "d6c90f73.bdd9a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/41/OvTrapIoT41_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2700,
        "wires": [
            [
                "c6d52ddd.701e2"
            ]
        ]
    },
    {
        "id": "3f46d0ea.72f7b",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/42/OvTrapIoT42_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2740,
        "wires": [
            [
                "9d0747d5.d84cd8"
            ]
        ]
    },
    {
        "id": "443b9512.f570dc",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue37",
        "qos": "2",
        "datatype": "auto",
        "broker": "8c6b1c62.29a13",
        "x": 110,
        "y": 2440,
        "wires": [
            [
                "5c90c111.6c0fc"
            ]
        ]
    },
    {
        "id": "69e95d44.0976b4",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 2500,
        "wires": [
            [
                "d3d9f284.31df8"
            ]
        ]
    },
    {
        "id": "f8323bab.c997d8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue38",
        "qos": "2",
        "datatype": "auto",
        "broker": "8c6b1c62.29a13",
        "x": 110,
        "y": 2500,
        "wires": [
            [
                "d7eb7c47.1c26c"
            ]
        ]
    },
    {
        "id": "d3d9f284.31df8",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue37",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue38",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue39",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 2500,
        "wires": [
            [
                "d3ed6efe.52d81"
            ],
            [
                "e70b427c.e2cbb"
            ],
            [
                "ae63e535.5d4408"
            ]
        ]
    },
    {
        "id": "7413e0c0.7c64c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue39",
        "qos": "2",
        "datatype": "auto",
        "broker": "8c6b1c62.29a13",
        "x": 110,
        "y": 2560,
        "wires": [
            [
                "e20c2a02.d396b8"
            ]
        ]
    },
    {
        "id": "5c90c111.6c0fc",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2440,
        "wires": [
            [
                "a801ce11.e86ee"
            ]
        ]
    },
    {
        "id": "a801ce11.e86ee",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2440,
        "wires": [
            [
                "69e95d44.0976b4"
            ]
        ]
    },
    {
        "id": "d7eb7c47.1c26c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2500,
        "wires": [
            [
                "34bdf697.7a380a"
            ]
        ]
    },
    {
        "id": "34bdf697.7a380a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2500,
        "wires": [
            [
                "69e95d44.0976b4"
            ]
        ]
    },
    {
        "id": "e20c2a02.d396b8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2560,
        "wires": [
            [
                "3e2a25d1.f8fa1a"
            ]
        ]
    },
    {
        "id": "3e2a25d1.f8fa1a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2560,
        "wires": [
            [
                "69e95d44.0976b4"
            ]
        ]
    },
    {
        "id": "118aa40e.cf345c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "a67cf13d.a6bc7",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "a82ab7b.dec8848",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "d3ed6efe.52d81",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/37/OvTrapIoT37_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2460,
        "wires": [
            [
                "118aa40e.cf345c"
            ]
        ]
    },
    {
        "id": "e70b427c.e2cbb",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/38/OvTrapIoT38_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2500,
        "wires": [
            [
                "a67cf13d.a6bc7"
            ]
        ]
    },
    {
        "id": "ae63e535.5d4408",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/39/OvTrapIoT39_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2540,
        "wires": [
            [
                "a82ab7b.dec8848"
            ]
        ]
    },
    {
        "id": "9cac9e2f.20484",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue43",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb0e8157.fd604",
        "x": 110,
        "y": 2840,
        "wires": [
            [
                "9881d622.131ab8"
            ]
        ]
    },
    {
        "id": "9215498b.dce4b8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 2900,
        "wires": [
            [
                "e359fb0d.85b978"
            ]
        ]
    },
    {
        "id": "f7f809f2.8bba48",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue44",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb0e8157.fd604",
        "x": 110,
        "y": 2900,
        "wires": [
            [
                "2c18bf8.839004"
            ]
        ]
    },
    {
        "id": "e359fb0d.85b978",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue43",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue44",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue45",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 2900,
        "wires": [
            [
                "a371d580.6e8878"
            ],
            [
                "5493f4da.4f537c"
            ],
            [
                "190ec5de.c02ffa"
            ]
        ]
    },
    {
        "id": "5ffa7297.57198c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue45",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb0e8157.fd604",
        "x": 110,
        "y": 2960,
        "wires": [
            [
                "13d9328d.a8b24d"
            ]
        ]
    },
    {
        "id": "9881d622.131ab8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2840,
        "wires": [
            [
                "61830986.120e88"
            ]
        ]
    },
    {
        "id": "61830986.120e88",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2840,
        "wires": [
            [
                "9215498b.dce4b8"
            ]
        ]
    },
    {
        "id": "2c18bf8.839004",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2900,
        "wires": [
            [
                "5746d668.b18498"
            ]
        ]
    },
    {
        "id": "5746d668.b18498",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2900,
        "wires": [
            [
                "9215498b.dce4b8"
            ]
        ]
    },
    {
        "id": "13d9328d.a8b24d",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 2960,
        "wires": [
            [
                "f089ab68.3c51d8"
            ]
        ]
    },
    {
        "id": "f089ab68.3c51d8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2960,
        "wires": [
            [
                "9215498b.dce4b8"
            ]
        ]
    },
    {
        "id": "17c882c8.27510d",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "f84ad7df.a53cc8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "9b33cee9.c8a44",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "a371d580.6e8878",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/43/OvTrapIoT43_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2860,
        "wires": [
            [
                "17c882c8.27510d"
            ]
        ]
    },
    {
        "id": "5493f4da.4f537c",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/44/OvTrapIoT44_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2900,
        "wires": [
            [
                "f84ad7df.a53cc8"
            ]
        ]
    },
    {
        "id": "190ec5de.c02ffa",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/45/OvTrapIoT45_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2940,
        "wires": [
            [
                "9b33cee9.c8a44"
            ]
        ]
    },
    {
        "id": "9fb81155.e17fb",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue46",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3ecf28.4cb54",
        "x": 110,
        "y": 3040,
        "wires": [
            [
                "a2025e1.ceb28a"
            ]
        ]
    },
    {
        "id": "f9361873.6816a8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 3100,
        "wires": [
            [
                "d08b1da5.95a47"
            ]
        ]
    },
    {
        "id": "fb0e133b.0544b",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue47",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3ecf28.4cb54",
        "x": 110,
        "y": 3100,
        "wires": [
            [
                "b6847205.f0ccf"
            ]
        ]
    },
    {
        "id": "d08b1da5.95a47",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue46",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue47",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue48",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 3100,
        "wires": [
            [
                "98e4b7ba.dc5b28"
            ],
            [
                "8000db4.5117d28"
            ],
            [
                "5e14f99e.8202c8"
            ]
        ]
    },
    {
        "id": "92e9c46.4ddfb38",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue48",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3ecf28.4cb54",
        "x": 110,
        "y": 3160,
        "wires": [
            [
                "da22652a.6f9878"
            ]
        ]
    },
    {
        "id": "a2025e1.ceb28a",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3040,
        "wires": [
            [
                "be77a556.43bc28"
            ]
        ]
    },
    {
        "id": "be77a556.43bc28",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3040,
        "wires": [
            [
                "f9361873.6816a8"
            ]
        ]
    },
    {
        "id": "b6847205.f0ccf",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3100,
        "wires": [
            [
                "f982ede2.e8fad"
            ]
        ]
    },
    {
        "id": "f982ede2.e8fad",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3100,
        "wires": [
            [
                "f9361873.6816a8"
            ]
        ]
    },
    {
        "id": "da22652a.6f9878",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3160,
        "wires": [
            [
                "e1553d86.09f41"
            ]
        ]
    },
    {
        "id": "e1553d86.09f41",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3160,
        "wires": [
            [
                "f9361873.6816a8"
            ]
        ]
    },
    {
        "id": "c2153e62.b63f",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3060,
        "wires": [
            []
        ]
    },
    {
        "id": "c9653ba.f214bc8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3100,
        "wires": [
            []
        ]
    },
    {
        "id": "49485910.4d5ec8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "98e4b7ba.dc5b28",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/46/OvTrapIoT46_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3060,
        "wires": [
            [
                "c2153e62.b63f"
            ]
        ]
    },
    {
        "id": "8000db4.5117d28",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/47/OvTrapIoT47_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3100,
        "wires": [
            [
                "c9653ba.f214bc8"
            ]
        ]
    },
    {
        "id": "5e14f99e.8202c8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/48/OvTrapIoT48_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3140,
        "wires": [
            [
                "49485910.4d5ec8"
            ]
        ]
    },
    {
        "id": "c04771bc.83827",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue49",
        "qos": "2",
        "datatype": "auto",
        "broker": "c0b1f070.8561b",
        "x": 110,
        "y": 3240,
        "wires": [
            [
                "c13e8f67.3b19d"
            ]
        ]
    },
    {
        "id": "a3ab6347.181a2",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 3300,
        "wires": [
            [
                "daa30048.d2153"
            ]
        ]
    },
    {
        "id": "5d5e407e.07687",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue50",
        "qos": "2",
        "datatype": "auto",
        "broker": "c0b1f070.8561b",
        "x": 110,
        "y": 3300,
        "wires": [
            [
                "b31d4627.a01478"
            ]
        ]
    },
    {
        "id": "daa30048.d2153",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue49",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue50",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue51",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 3300,
        "wires": [
            [
                "16e4ce36.356e02"
            ],
            [
                "ce18296e.19ffa8"
            ],
            [
                "2b7de9e7.d747f6"
            ]
        ]
    },
    {
        "id": "6259a3cb.e6e6bc",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue51",
        "qos": "2",
        "datatype": "auto",
        "broker": "c0b1f070.8561b",
        "x": 110,
        "y": 3360,
        "wires": [
            [
                "bd2570ea.921d9"
            ]
        ]
    },
    {
        "id": "c13e8f67.3b19d",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3240,
        "wires": [
            [
                "618a01e6.ac7ea"
            ]
        ]
    },
    {
        "id": "618a01e6.ac7ea",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3240,
        "wires": [
            [
                "a3ab6347.181a2"
            ]
        ]
    },
    {
        "id": "b31d4627.a01478",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3300,
        "wires": [
            [
                "7b1ff353.969bec"
            ]
        ]
    },
    {
        "id": "7b1ff353.969bec",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3300,
        "wires": [
            [
                "a3ab6347.181a2"
            ]
        ]
    },
    {
        "id": "bd2570ea.921d9",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3360,
        "wires": [
            [
                "db8ed03b.8cd29"
            ]
        ]
    },
    {
        "id": "db8ed03b.8cd29",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3360,
        "wires": [
            [
                "a3ab6347.181a2"
            ]
        ]
    },
    {
        "id": "c5de3de2.13c7e",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3260,
        "wires": [
            []
        ]
    },
    {
        "id": "624a31a3.36b4f",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3300,
        "wires": [
            []
        ]
    },
    {
        "id": "6e08d0c5.6baec",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3340,
        "wires": [
            []
        ]
    },
    {
        "id": "16e4ce36.356e02",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/49/OvTrapIoT49_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3260,
        "wires": [
            [
                "c5de3de2.13c7e"
            ]
        ]
    },
    {
        "id": "ce18296e.19ffa8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/50/OvTrapIoT50_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3300,
        "wires": [
            [
                "624a31a3.36b4f"
            ]
        ]
    },
    {
        "id": "2b7de9e7.d747f6",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/51/OvTrapIoT51_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3340,
        "wires": [
            [
                "6e08d0c5.6baec"
            ]
        ]
    },
    {
        "id": "54f1f81f.f0bd48",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue52",
        "qos": "2",
        "datatype": "auto",
        "broker": "8ffb3b3.8963fc8",
        "x": 110,
        "y": 3440,
        "wires": [
            [
                "6e6f991c.a6bd38"
            ]
        ]
    },
    {
        "id": "c7549336.ee988",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 3500,
        "wires": [
            [
                "73056767.44e938"
            ]
        ]
    },
    {
        "id": "70a632a.57795cc",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue53",
        "qos": "2",
        "datatype": "auto",
        "broker": "8ffb3b3.8963fc8",
        "x": 110,
        "y": 3500,
        "wires": [
            [
                "357295a8.a63d8a"
            ]
        ]
    },
    {
        "id": "73056767.44e938",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue52",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue53",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue54",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 3500,
        "wires": [
            [
                "573b0ec7.0c8f9"
            ],
            [
                "2b216e4b.0f6662"
            ],
            [
                "f5723712.db60f8"
            ]
        ]
    },
    {
        "id": "e4c27121.b5dc7",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue54",
        "qos": "2",
        "datatype": "auto",
        "broker": "8ffb3b3.8963fc8",
        "x": 110,
        "y": 3560,
        "wires": [
            [
                "bb176a64.cfeb18"
            ]
        ]
    },
    {
        "id": "6e6f991c.a6bd38",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3440,
        "wires": [
            [
                "88f0a7c4.99ff28"
            ]
        ]
    },
    {
        "id": "88f0a7c4.99ff28",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3440,
        "wires": [
            [
                "c7549336.ee988"
            ]
        ]
    },
    {
        "id": "357295a8.a63d8a",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3500,
        "wires": [
            [
                "bc203a03.888d18"
            ]
        ]
    },
    {
        "id": "bc203a03.888d18",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3500,
        "wires": [
            [
                "c7549336.ee988"
            ]
        ]
    },
    {
        "id": "bb176a64.cfeb18",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3560,
        "wires": [
            [
                "e902dddc.82193"
            ]
        ]
    },
    {
        "id": "e902dddc.82193",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3560,
        "wires": [
            [
                "c7549336.ee988"
            ]
        ]
    },
    {
        "id": "92e0f30b.b053d",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3460,
        "wires": [
            []
        ]
    },
    {
        "id": "dd9ea0d.d3c216",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3500,
        "wires": [
            []
        ]
    },
    {
        "id": "5907246b.68564c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3540,
        "wires": [
            []
        ]
    },
    {
        "id": "573b0ec7.0c8f9",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/52/OvTrapIoT52_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3460,
        "wires": [
            [
                "92e0f30b.b053d"
            ]
        ]
    },
    {
        "id": "2b216e4b.0f6662",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/53/OvTrapIoT53_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3500,
        "wires": [
            [
                "dd9ea0d.d3c216"
            ]
        ]
    },
    {
        "id": "f5723712.db60f8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/54/OvTrapIoT54_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3540,
        "wires": [
            [
                "5907246b.68564c"
            ]
        ]
    },
    {
        "id": "f6e3e517.e86428",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue55",
        "qos": "2",
        "datatype": "auto",
        "broker": "5361930b.2279dc",
        "x": 110,
        "y": 3640,
        "wires": [
            [
                "2ccb0365.68bedc"
            ]
        ]
    },
    {
        "id": "47539ac6.1977e4",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 3700,
        "wires": [
            [
                "c3092d3f.9c8cc"
            ]
        ]
    },
    {
        "id": "1bf55355.6ef33d",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue56",
        "qos": "2",
        "datatype": "auto",
        "broker": "5361930b.2279dc",
        "x": 110,
        "y": 3700,
        "wires": [
            [
                "40f05ad.2c133a4"
            ]
        ]
    },
    {
        "id": "c3092d3f.9c8cc",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue55",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue56",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue57",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 3700,
        "wires": [
            [
                "73c9c3c.a25ad3c"
            ],
            [
                "d87bcd72.0b7ff"
            ],
            [
                "b249c6da.6ba638"
            ]
        ]
    },
    {
        "id": "e026c071.d57de",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue57",
        "qos": "2",
        "datatype": "auto",
        "broker": "5361930b.2279dc",
        "x": 110,
        "y": 3760,
        "wires": [
            [
                "ec1308a0.7ca458"
            ]
        ]
    },
    {
        "id": "2ccb0365.68bedc",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3640,
        "wires": [
            [
                "fedc7ed8.b6939"
            ]
        ]
    },
    {
        "id": "fedc7ed8.b6939",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3640,
        "wires": [
            [
                "47539ac6.1977e4"
            ]
        ]
    },
    {
        "id": "40f05ad.2c133a4",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3700,
        "wires": [
            [
                "b8280886.3df528"
            ]
        ]
    },
    {
        "id": "b8280886.3df528",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3700,
        "wires": [
            [
                "47539ac6.1977e4"
            ]
        ]
    },
    {
        "id": "ec1308a0.7ca458",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3760,
        "wires": [
            [
                "28a85ef9.fe4192"
            ]
        ]
    },
    {
        "id": "28a85ef9.fe4192",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3760,
        "wires": [
            [
                "47539ac6.1977e4"
            ]
        ]
    },
    {
        "id": "6dfa532a.96795c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3660,
        "wires": [
            []
        ]
    },
    {
        "id": "7d5ec602.679388",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3700,
        "wires": [
            []
        ]
    },
    {
        "id": "67b69cee.bc4c74",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3740,
        "wires": [
            []
        ]
    },
    {
        "id": "73c9c3c.a25ad3c",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/55/OvTrapIoT55_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3660,
        "wires": [
            [
                "6dfa532a.96795c"
            ]
        ]
    },
    {
        "id": "d87bcd72.0b7ff",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/56/OvTrapIoT56_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3700,
        "wires": [
            [
                "7d5ec602.679388"
            ]
        ]
    },
    {
        "id": "b249c6da.6ba638",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/57/OvTrapIoT57_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3740,
        "wires": [
            [
                "67b69cee.bc4c74"
            ]
        ]
    },
    {
        "id": "16a61ffa.f2aa7",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue58",
        "qos": "2",
        "datatype": "auto",
        "broker": "b30979fd.245b78",
        "x": 110,
        "y": 3840,
        "wires": [
            [
                "aa4e5028.5809c"
            ]
        ]
    },
    {
        "id": "b5825820.a55788",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 3900,
        "wires": [
            [
                "e40595d3.b13288"
            ]
        ]
    },
    {
        "id": "e9ce4095.eadfa",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue59",
        "qos": "2",
        "datatype": "auto",
        "broker": "b30979fd.245b78",
        "x": 110,
        "y": 3900,
        "wires": [
            [
                "5a150851.a11af8"
            ]
        ]
    },
    {
        "id": "e40595d3.b13288",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue58",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue59",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 3900,
        "wires": [
            [
                "eae98393.f80c"
            ],
            [
                "a9a8ac9.0ed185"
            ],
            [
                "84497cc8.efc1d"
            ]
        ]
    },
    {
        "id": "39165d08.424262",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue60",
        "qos": "2",
        "datatype": "auto",
        "broker": "b30979fd.245b78",
        "x": 110,
        "y": 3960,
        "wires": [
            [
                "47e54e4d.262dc"
            ]
        ]
    },
    {
        "id": "aa4e5028.5809c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3840,
        "wires": [
            [
                "d826f979.dfd8b8"
            ]
        ]
    },
    {
        "id": "d826f979.dfd8b8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3840,
        "wires": [
            [
                "b5825820.a55788"
            ]
        ]
    },
    {
        "id": "5a150851.a11af8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3900,
        "wires": [
            [
                "3bc77f74.add72"
            ]
        ]
    },
    {
        "id": "3bc77f74.add72",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3900,
        "wires": [
            [
                "b5825820.a55788"
            ]
        ]
    },
    {
        "id": "47e54e4d.262dc",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 3960,
        "wires": [
            [
                "86db2ff6.6b666"
            ]
        ]
    },
    {
        "id": "86db2ff6.6b666",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3960,
        "wires": [
            [
                "b5825820.a55788"
            ]
        ]
    },
    {
        "id": "30ab2ec7.346332",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3860,
        "wires": [
            []
        ]
    },
    {
        "id": "a76760dd.82c09",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "847f8827.e29c58",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 3940,
        "wires": [
            []
        ]
    },
    {
        "id": "eae98393.f80c",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/58/OvTrapIoT58_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3860,
        "wires": [
            [
                "30ab2ec7.346332"
            ]
        ]
    },
    {
        "id": "a9a8ac9.0ed185",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/59/OvTrapIoT59_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3900,
        "wires": [
            [
                "a76760dd.82c09"
            ]
        ]
    },
    {
        "id": "84497cc8.efc1d",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/60/OvTrapIoT60_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 3940,
        "wires": [
            [
                "847f8827.e29c58"
            ]
        ]
    },
    {
        "id": "2007bf49.79f2e",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue61",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa41247d.d4d108",
        "x": 110,
        "y": 4040,
        "wires": [
            [
                "6068a2ad.51b08c"
            ]
        ]
    },
    {
        "id": "86491a18.993ee8",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 4100,
        "wires": [
            [
                "7c4f4565.99b45c"
            ]
        ]
    },
    {
        "id": "488d39de.3f11d8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue62",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa41247d.d4d108",
        "x": 110,
        "y": 4100,
        "wires": [
            [
                "cd3b21e0.95d17"
            ]
        ]
    },
    {
        "id": "7c4f4565.99b45c",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue61",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue62",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue63",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 4100,
        "wires": [
            [
                "d92d429a.5573e"
            ],
            [
                "be83302e.09db2"
            ],
            [
                "f3224b29.24f278"
            ]
        ]
    },
    {
        "id": "fa5db19d.4551",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue63",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa41247d.d4d108",
        "x": 110,
        "y": 4160,
        "wires": [
            [
                "35beb121.ad98de"
            ]
        ]
    },
    {
        "id": "6068a2ad.51b08c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4040,
        "wires": [
            [
                "5d621b94.fbe414"
            ]
        ]
    },
    {
        "id": "5d621b94.fbe414",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4040,
        "wires": [
            [
                "86491a18.993ee8"
            ]
        ]
    },
    {
        "id": "cd3b21e0.95d17",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4100,
        "wires": [
            [
                "68f469f1.f142c8"
            ]
        ]
    },
    {
        "id": "68f469f1.f142c8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4100,
        "wires": [
            [
                "86491a18.993ee8"
            ]
        ]
    },
    {
        "id": "35beb121.ad98de",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4160,
        "wires": [
            [
                "6d52ce60.c31d6"
            ]
        ]
    },
    {
        "id": "6d52ce60.c31d6",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4160,
        "wires": [
            [
                "86491a18.993ee8"
            ]
        ]
    },
    {
        "id": "5be95084.1499c",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4060,
        "wires": [
            []
        ]
    },
    {
        "id": "e5705193.501a",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4100,
        "wires": [
            []
        ]
    },
    {
        "id": "714a09a0.3565e8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4140,
        "wires": [
            []
        ]
    },
    {
        "id": "d92d429a.5573e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/61/OvTrapIoT61_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4060,
        "wires": [
            [
                "5be95084.1499c"
            ]
        ]
    },
    {
        "id": "be83302e.09db2",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/62/OvTrapIoT62_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4100,
        "wires": [
            [
                "e5705193.501a"
            ]
        ]
    },
    {
        "id": "f3224b29.24f278",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/63/OvTrapIoT63_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4140,
        "wires": [
            [
                "714a09a0.3565e8"
            ]
        ]
    },
    {
        "id": "8e042414.3d6648",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue64",
        "qos": "2",
        "datatype": "auto",
        "broker": "7b1e825d.e04d5c",
        "x": 110,
        "y": 4240,
        "wires": [
            [
                "aef96a54.1566e8"
            ]
        ]
    },
    {
        "id": "ac24e0b2.d053c",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 4300,
        "wires": [
            [
                "af9ca614.014af8"
            ]
        ]
    },
    {
        "id": "a606651.7707298",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue65",
        "qos": "2",
        "datatype": "auto",
        "broker": "7b1e825d.e04d5c",
        "x": 110,
        "y": 4300,
        "wires": [
            [
                "64c7dbfc.496964"
            ]
        ]
    },
    {
        "id": "af9ca614.014af8",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue64",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue65",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue66",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 4300,
        "wires": [
            [
                "77a1ffa2.e706a"
            ],
            [
                "b2dec905.1a0918"
            ],
            [
                "2efc67d7.d76b58"
            ]
        ]
    },
    {
        "id": "518163e9.aa618c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue66",
        "qos": "2",
        "datatype": "auto",
        "broker": "7b1e825d.e04d5c",
        "x": 110,
        "y": 4360,
        "wires": [
            [
                "1bdb24b6.3652fb"
            ]
        ]
    },
    {
        "id": "aef96a54.1566e8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4240,
        "wires": [
            [
                "37e9e58f.5d9a2a"
            ]
        ]
    },
    {
        "id": "37e9e58f.5d9a2a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4240,
        "wires": [
            [
                "ac24e0b2.d053c"
            ]
        ]
    },
    {
        "id": "64c7dbfc.496964",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4300,
        "wires": [
            [
                "25b5c8ee.120858"
            ]
        ]
    },
    {
        "id": "25b5c8ee.120858",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4300,
        "wires": [
            [
                "ac24e0b2.d053c"
            ]
        ]
    },
    {
        "id": "1bdb24b6.3652fb",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4360,
        "wires": [
            [
                "fe578580.749648"
            ]
        ]
    },
    {
        "id": "fe578580.749648",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4360,
        "wires": [
            [
                "ac24e0b2.d053c"
            ]
        ]
    },
    {
        "id": "2d1dbbbf.7ab9e4",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4260,
        "wires": [
            []
        ]
    },
    {
        "id": "e197a5b2.223548",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4300,
        "wires": [
            []
        ]
    },
    {
        "id": "47195d17.df3164",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4340,
        "wires": [
            []
        ]
    },
    {
        "id": "77a1ffa2.e706a",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/64/OvTrapIoT64_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4260,
        "wires": [
            [
                "2d1dbbbf.7ab9e4"
            ]
        ]
    },
    {
        "id": "b2dec905.1a0918",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/65/OvTrapIoT65_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4300,
        "wires": [
            [
                "e197a5b2.223548"
            ]
        ]
    },
    {
        "id": "2efc67d7.d76b58",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/66/OvTrapIoT66_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4340,
        "wires": [
            [
                "47195d17.df3164"
            ]
        ]
    },
    {
        "id": "d5fc1fb9.42dc2",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue67",
        "qos": "2",
        "datatype": "auto",
        "broker": "946e391f.1d8ee8",
        "x": 110,
        "y": 4440,
        "wires": [
            [
                "c584bcb4.d709c"
            ]
        ]
    },
    {
        "id": "b5a1c1e8.b1eda",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 4500,
        "wires": [
            [
                "3109088e.d52d18"
            ]
        ]
    },
    {
        "id": "c3abe948.286238",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue68",
        "qos": "2",
        "datatype": "auto",
        "broker": "946e391f.1d8ee8",
        "x": 110,
        "y": 4500,
        "wires": [
            [
                "397451d0.be7f9e"
            ]
        ]
    },
    {
        "id": "3109088e.d52d18",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue67",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue68",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue69",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 4500,
        "wires": [
            [
                "eb8bfb45.2cb7b8"
            ],
            [
                "8c9648.150be9b8"
            ],
            [
                "34b8c7c0.4b05a8"
            ]
        ]
    },
    {
        "id": "ac0780bd.9e28d",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue69",
        "qos": "2",
        "datatype": "auto",
        "broker": "946e391f.1d8ee8",
        "x": 110,
        "y": 4560,
        "wires": [
            [
                "59a89f55.33b07"
            ]
        ]
    },
    {
        "id": "c584bcb4.d709c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4440,
        "wires": [
            [
                "1b0b7bc7.5faef4"
            ]
        ]
    },
    {
        "id": "1b0b7bc7.5faef4",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4440,
        "wires": [
            [
                "b5a1c1e8.b1eda"
            ]
        ]
    },
    {
        "id": "397451d0.be7f9e",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4500,
        "wires": [
            [
                "ca9a1bd1.ffa7b8"
            ]
        ]
    },
    {
        "id": "ca9a1bd1.ffa7b8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4500,
        "wires": [
            [
                "b5a1c1e8.b1eda"
            ]
        ]
    },
    {
        "id": "59a89f55.33b07",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4560,
        "wires": [
            [
                "996c9015.234da"
            ]
        ]
    },
    {
        "id": "996c9015.234da",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4560,
        "wires": [
            [
                "b5a1c1e8.b1eda"
            ]
        ]
    },
    {
        "id": "37b4378a.4e0cd8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4460,
        "wires": [
            []
        ]
    },
    {
        "id": "818a4ed2.02b9d",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4500,
        "wires": [
            []
        ]
    },
    {
        "id": "c88db0fd.9e978",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4540,
        "wires": [
            []
        ]
    },
    {
        "id": "eb8bfb45.2cb7b8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/67/OvTrapIoT67_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4460,
        "wires": [
            [
                "37b4378a.4e0cd8"
            ]
        ]
    },
    {
        "id": "8c9648.150be9b8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/68/OvTrapIoT68_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4500,
        "wires": [
            [
                "818a4ed2.02b9d"
            ]
        ]
    },
    {
        "id": "34b8c7c0.4b05a8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/69/OvTrapIoT69_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4540,
        "wires": [
            [
                "c88db0fd.9e978"
            ]
        ]
    },
    {
        "id": "b2145f72.a588a",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue70",
        "qos": "2",
        "datatype": "auto",
        "broker": "bc485aa6.55d7c8",
        "x": 110,
        "y": 4640,
        "wires": [
            [
                "41f2a68a.e22cc8"
            ]
        ]
    },
    {
        "id": "30aa21b.aa36ede",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 4700,
        "wires": [
            [
                "1c40ab6d.bd3445"
            ]
        ]
    },
    {
        "id": "a926e630.c760b8",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue71",
        "qos": "2",
        "datatype": "auto",
        "broker": "bc485aa6.55d7c8",
        "x": 110,
        "y": 4700,
        "wires": [
            [
                "fe00d5b.1551d28"
            ]
        ]
    },
    {
        "id": "1c40ab6d.bd3445",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue70",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue71",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue72",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 830,
        "y": 4700,
        "wires": [
            [
                "3016784b.e7e888"
            ],
            [
                "30fe196b.3922e6"
            ],
            [
                "948d1b29.3667c8"
            ]
        ]
    },
    {
        "id": "3718c105.c6950e",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue72",
        "qos": "2",
        "datatype": "auto",
        "broker": "bc485aa6.55d7c8",
        "x": 110,
        "y": 4760,
        "wires": [
            [
                "5382e761.311d78"
            ]
        ]
    },
    {
        "id": "41f2a68a.e22cc8",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4640,
        "wires": [
            [
                "abe8180.7cbdfe8"
            ]
        ]
    },
    {
        "id": "abe8180.7cbdfe8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4640,
        "wires": [
            [
                "30aa21b.aa36ede"
            ]
        ]
    },
    {
        "id": "fe00d5b.1551d28",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4700,
        "wires": [
            [
                "ec20cbd3.1069e8"
            ]
        ]
    },
    {
        "id": "ec20cbd3.1069e8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4700,
        "wires": [
            [
                "30aa21b.aa36ede"
            ]
        ]
    },
    {
        "id": "5382e761.311d78",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4760,
        "wires": [
            [
                "3228271b.e280a8"
            ]
        ]
    },
    {
        "id": "3228271b.e280a8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4760,
        "wires": [
            [
                "30aa21b.aa36ede"
            ]
        ]
    },
    {
        "id": "b2f61f45.135b1",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4660,
        "wires": [
            []
        ]
    },
    {
        "id": "a040be60.77a29",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4700,
        "wires": [
            []
        ]
    },
    {
        "id": "b5dd334f.2159",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4740,
        "wires": [
            []
        ]
    },
    {
        "id": "3016784b.e7e888",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/70/OvTrapIoT70_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4660,
        "wires": [
            [
                "b2f61f45.135b1"
            ]
        ]
    },
    {
        "id": "30fe196b.3922e6",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/71/OvTrapIoT71_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4700,
        "wires": [
            [
                "a040be60.77a29"
            ]
        ]
    },
    {
        "id": "948d1b29.3667c8",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/72/OvTrapIoT72_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4740,
        "wires": [
            [
                "b5dd334f.2159"
            ]
        ]
    },
    {
        "id": "98c56fb3.06415",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue73",
        "qos": "2",
        "datatype": "auto",
        "broker": "bdd026a9.6e1408",
        "x": 110,
        "y": 4840,
        "wires": [
            [
                "73e2a414.f8992c"
            ]
        ]
    },
    {
        "id": "5db7eaf1.e7aa94",
        "type": "base64",
        "z": "b1ebe578.d1e228",
        "name": "ConvertGambar",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 4900,
        "wires": [
            [
                "94f425fb.4d5c18"
            ]
        ]
    },
    {
        "id": "3432d3e3.4c353c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue74",
        "qos": "2",
        "datatype": "auto",
        "broker": "bdd026a9.6e1408",
        "x": 110,
        "y": 4900,
        "wires": [
            [
                "21b87853.937b88"
            ]
        ]
    },
    {
        "id": "94f425fb.4d5c18",
        "type": "switch",
        "z": "b1ebe578.d1e228",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "resdengue73",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue74",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resdengue75",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 4900,
        "wires": [
            [
                "4a9b68f3.833e58"
            ],
            [
                "bbc6d612.5fb238"
            ],
            [
                "8fad14fe.51f818"
            ]
        ]
    },
    {
        "id": "519e94c.b98436c",
        "type": "mqtt in",
        "z": "b1ebe578.d1e228",
        "name": "InputGambar",
        "topic": "resdengue75",
        "qos": "2",
        "datatype": "auto",
        "broker": "bdd026a9.6e1408",
        "x": 110,
        "y": 4960,
        "wires": [
            [
                "87248d33.fded1"
            ]
        ]
    },
    {
        "id": "73e2a414.f8992c",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4840,
        "wires": [
            [
                "7b00422b.a7f6dc"
            ]
        ]
    },
    {
        "id": "7b00422b.a7f6dc",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4840,
        "wires": [
            [
                "5db7eaf1.e7aa94"
            ]
        ]
    },
    {
        "id": "21b87853.937b88",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4900,
        "wires": [
            [
                "3f5e72cc.8d6d4e"
            ]
        ]
    },
    {
        "id": "3f5e72cc.8d6d4e",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4900,
        "wires": [
            [
                "5db7eaf1.e7aa94"
            ]
        ]
    },
    {
        "id": "87248d33.fded1",
        "type": "merge",
        "z": "b1ebe578.d1e228",
        "name": "",
        "timeout": "5",
        "x": 270,
        "y": 4960,
        "wires": [
            [
                "9b00a647.590a98"
            ]
        ]
    },
    {
        "id": "9b00a647.590a98",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "merge",
        "func": "msg.topic = msg.payload[0].topic;\nmsg.payload = msg.payload[0].payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 4960,
        "wires": [
            [
                "5db7eaf1.e7aa94"
            ]
        ]
    },
    {
        "id": "bcd27dc8.d120a",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4860,
        "wires": [
            []
        ]
    },
    {
        "id": "cbadc6cb.e5c4e8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4900,
        "wires": [
            []
        ]
    },
    {
        "id": "f8505b1e.6766c8",
        "type": "file",
        "z": "b1ebe578.d1e228",
        "name": "File Gambar",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 4940,
        "wires": [
            []
        ]
    },
    {
        "id": "4a9b68f3.833e58",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/73/OvTrapIoT73_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4860,
        "wires": [
            [
                "bcd27dc8.d120a"
            ]
        ]
    },
    {
        "id": "bbc6d612.5fb238",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/74/OvTrapIoT74_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4900,
        "wires": [
            [
                "cbadc6cb.e5c4e8"
            ]
        ]
    },
    {
        "id": "8fad14fe.51f818",
        "type": "function",
        "z": "b1ebe578.d1e228",
        "name": "Filename",
        "func": "var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours()+'-'+today.getMinutes();\nvar dateTime = date+' '+time;\n\nmsg.filename=\"/mnt/00BCE8D0BCE8C0F0/SmartDengue_img/\"+date+\"/75/OvTrapIoT75_\"+dateTime+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 4940,
        "wires": [
            [
                "f8505b1e.6766c8"
            ]
        ]
    },
    {
        "id": "7563ce3f.f20f4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b272d5b4.fb3648",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f43e195a.01c5f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1e0f677e.768369",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "378965a9.57305a",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "72361a5c.803c64",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6985a5d4.a291dc",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "77e4b8e3.204b28",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "461a08b1.9b8248",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f77127f7.ef0ce8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ead6dcfa.36de8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "abea750a.763a98",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "79472a30.b62d64",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8c6b1c62.29a13",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cb0e8157.fd604",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5f3ecf28.4cb54",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c0b1f070.8561b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8ffb3b3.8963fc8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5361930b.2279dc",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b30979fd.245b78",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "aa41247d.d4d108",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7b1e825d.e04d5c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "946e391f.1d8ee8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bc485aa6.55d7c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bdd026a9.6e1408",
        "type": "mqtt-broker",
        "z": "",
        "name": "Host",
        "broker": "35.247.184.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]