Backup_File/Flow_Node-red/flows.json
[{"id":"29846542.b5b52a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"80b3430f.3b335","type":"mqtt in","z":"29846542.b5b52a","name":"","topic":"reqdengue70","qos":"2","datatype":"auto","broker":"dcd22bff.a52c08","x":220,"y":100,"wires":[["bfe8c82d.ff8ce8"]]},{"id":"bfe8c82d.ff8ce8","type":"exec","z":"29846542.b5b52a","command":"am broadcast --user 0 -a iot.dengue.image","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":100,"wires":[[],[],[]]},{"id":"3e1ac7a.7090038","type":"inject","z":"29846542.b5b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":60,"wires":[["bfe8c82d.ff8ce8"]]},{"id":"4686d9f5.d94068","type":"watch","z":"29846542.b5b52a","name":"","files":"/storage/emulated/0/dengue/cap.jpg","recursive":"","x":220,"y":200,"wires":[["3fcc1cf6.16cb94"]]},{"id":"3fcc1cf6.16cb94","type":"file in","z":"29846542.b5b52a","name":"","filename":"/storage/emulated/0/dengue/cap.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":200,"wires":[["4eff8fc.4512a7"]]},{"id":"4eff8fc.4512a7","type":"base64","z":"29846542.b5b52a","name":"","action":"","property":"payload","x":840,"y":200,"wires":[["e5d3ebbd.fa5058"]]},{"id":"e5d3ebbd.fa5058","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"resdengue70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":1060,"y":200,"wires":[]},{"id":"2eabf5a0.0080fa","type":"mqtt in","z":"29846542.b5b52a","name":"","topic":"isconnect70","qos":"2","datatype":"auto","broker":"dcd22bff.a52c08","x":890,"y":80,"wires":[["dddca42d.6be2c8"]]},{"id":"dddca42d.6be2c8","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"connected70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":1070,"y":80,"wires":[]},{"id":"9d3d3adc.f6e888","type":"file in","z":"29846542.b5b52a","name":"","filename":"/storage/emulated/0/dengue/ngueng.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":540,"wires":[["dabefd34.e3c82"]]},{"id":"dabefd34.e3c82","type":"base64","z":"29846542.b5b52a","name":"","action":"","property":"payload","x":1400,"y":540,"wires":[["cde0ad14.f8b16"]]},{"id":"cde0ad14.f8b16","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"soundresdengue70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":1590,"y":540,"wires":[]},{"id":"d119ab8c.bec6b8","type":"delay","z":"29846542.b5b52a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":540,"wires":[["9d3d3adc.f6e888"]]},{"id":"4093b0b9.94dd2","type":"mqtt in","z":"29846542.b5b52a","name":"","topic":"soundreqdengue70","qos":"2","datatype":"auto","broker":"dcd22bff.a52c08","x":150,"y":500,"wires":[["6c2355fb.e5e8dc"]]},{"id":"6c2355fb.e5e8dc","type":"switch","z":"29846542.b5b52a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"starting..","vt":"str"},{"t":"eq","v":"stopping..","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":500,"wires":[["d49627f0.7913b8"],["151ba15c.4802cf"]]},{"id":"d49627f0.7913b8","type":"exec","z":"29846542.b5b52a","command":"am broadcast --user 0 -a iot.dengue.soundstart","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":480,"wires":[["767238e0.a0a008"],[],[]]},{"id":"151ba15c.4802cf","type":"exec","z":"29846542.b5b52a","command":"am broadcast --user 0 -a iot.dengue.soundstop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":540,"wires":[["d119ab8c.bec6b8","7dd95632.14c668"],[],[]]},{"id":"136213a6.cc897c","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"soundstat70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":1270,"y":420,"wires":[]},{"id":"767238e0.a0a008","type":"trigger","z":"29846542.b5b52a","op1":" ","op2":"recording..","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"recording..","x":930,"y":420,"wires":[["136213a6.cc897c","ee7401cb.d061a"]]},{"id":"7dd95632.14c668","type":"trigger","z":"29846542.b5b52a","op1":" ","op2":"stopped","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"stopped","x":920,"y":460,"wires":[["136213a6.cc897c","ee7401cb.d061a"]]},{"id":"ee7401cb.d061a","type":"function","z":"29846542.b5b52a","name":"time counter","func":"var delay = {};\nvar d = new Date();\nvar seconds = Math.round(d.getTime() / 1000);\n\nif (msg.payload == \"recording..\"){\n    flow.set(\"starttime\", seconds);\n}\nelse if (msg.payload == \"stopped\"){\n    delay.payload = (1+ seconds - flow.get(\"starttime\"))*1000;\n}\n\nreturn delay;","outputs":1,"noerr":0,"x":1110,"y":320,"wires":[["fbd8bed0.ef68c"]]},{"id":"fbd8bed0.ef68c","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"sounddelay70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":1310,"y":320,"wires":[]},{"id":"75e014c1.23624c","type":"exec","z":"29846542.b5b52a","command":"am broadcast --user 0 -a iot.dengue.reset","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":620,"wires":[[],[],[]]},{"id":"9f446a23.59c9f8","type":"mqtt in","z":"29846542.b5b52a","name":"","topic":"reset70","qos":"2","datatype":"auto","broker":"dcd22bff.a52c08","x":270,"y":620,"wires":[["75e014c1.23624c"]]},{"id":"75b0853e.b36ccc","type":"watch","z":"29846542.b5b52a","name":"","files":"/storage/emulated/0/dengue/log.json","recursive":"","x":240,"y":740,"wires":[["37c35dbb.37cc22"]]},{"id":"37c35dbb.37cc22","type":"file in","z":"29846542.b5b52a","name":"","filename":"/storage/emulated/0/dengue/log.json","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":740,"wires":[["fca2777d.a67b18"]]},{"id":"fca2777d.a67b18","type":"base64","z":"29846542.b5b52a","name":"","action":"","property":"payload","x":860,"y":740,"wires":[["96d45abb.d35788"]]},{"id":"96d45abb.d35788","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"logdengue70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":1080,"y":740,"wires":[]},{"id":"3c913eae.91bba2","type":"mqtt in","z":"29846542.b5b52a","name":"","topic":"logreq70","qos":"2","datatype":"auto","broker":"dcd22bff.a52c08","x":260,"y":680,"wires":[["7d48ebae.9e6c34"]]},{"id":"7d48ebae.9e6c34","type":"exec","z":"29846542.b5b52a","command":"am broadcast --user 0 -a iot.dengue.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":680,"wires":[[],[],[]]},{"id":"7cff287a.d0bbe8","type":"watch","z":"29846542.b5b52a","name":"","files":"/storage/emulated/0/dengue/alarm","recursive":"","x":220,"y":940,"wires":[["c269745c.e034f8","a41339ed.d5f0a8"]]},{"id":"90c76523.5084f8","type":"mqtt out","z":"29846542.b5b52a","name":"","topic":"alarm70","qos":"","retain":"","broker":"dcd22bff.a52c08","x":780,"y":940,"wires":[]},{"id":"c269745c.e034f8","type":"debug","z":"29846542.b5b52a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":880,"wires":[]},{"id":"a41339ed.d5f0a8","type":"function","z":"29846542.b5b52a","name":"get time","func":"var d = new Date();\nmsg.payload = d.toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["90c76523.5084f8"]]},{"id":"dcd22bff.a52c08","type":"mqtt-broker","z":"","name":"novacloud","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]